<div class="ui segment">
  <h4 class="ui header">Desempenho por bloco</h4>
  <%@desempenho_por_materia.each do |mat|%>
    <h4 class="ui header"><%=mat[0]%></h4>
    <table class="ui celled small compact grey table">
      <thead>
        <tr><th>Matéria</th>
        <th>Questões Respondidas</th>
        <th>% Acertos</th>
        <th>Nº questões na prova</th>
        <th>Prioridade</th>
      </tr></thead>
      <tbody>
        <%mat[1].each do |a|%>
          <tr>
            <td><%=a[:materia]%></td>
            <td><%=a[:respondidas]%></td>
            <td></td>
          </tr>
        <%end%>
      </tbody>
    </table>
  <%end%>
</div>