<div class="ui segment">
  <canvas id="myChart" width="50" height="15"></canvas>
</div>

<script>
new Chart(document.getElementById("myChart"), {
    type: 'horizontalBar',
    data: {
      labels: ["Conhecimentos Básicos", "Conhecimentos Específicos"],
      datasets: [
        {
          label: "Percentual de acertos",
          backgroundColor: ["#3e95cd", "#8e5ea2"],
          data: [82, 88]
        }
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text: 'Percentual de acertos por bloco'
      },
      scales: {
            xAxes: [{
                ticks: {
                    min: 0,
                    max: 100
                }
            }]
        }
    }
});
</script>