<div class="ui segment">
  <canvas id="myChart" width="50" height="18"></canvas>
</div>

<script>
var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
        labels: ["10/fev", "20/fev", "28/fev", "10/mar", "20/mar", "30/mar", "10/abr"],
        datasets: [{
            label: "Questões Respondidas",
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: [0, 30, 42, 55, 83, 120, 165],
        }]
    },

    // Configuration options go here
    options: {
      legend: { display: false },
      title: {
        display: true,
        text: 'Evolução do número de questões respondidas'
      },
    }
});
</script>