<div class="ui main grid container" id="dashboard_container">
  <%=exibe_header "Análises", "analises", []%>
  
  <div class="row">
    
    <div class="column">
      <h4 class="ui header">Visualizações</h4>
      <div class="ui labeled inverted icon menu">
        <a id='grafico_bloco' class="red graf item" href='/dashboard/bloco' data-remote='true' onclick='loadingGrafico()'>
          <i class="chart pie icon"></i>
          Bloco
        </a>
        <a id='grafico_assunto' class="red graf item" href='/dashboard/assunto' data-remote='true' onclick='loadingGrafico()'>
          <i class="table icon"></i>
          Assunto
        </a>
        <a id='grafico_exercicio' class="red graf item" href='/dashboard/exercicio' data-remote='true' onclick='loadingGrafico()'>
          <i class="pencil icon"></i>
          Exercícios
        </a>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="column">
      <div class="ui container" id="grafico">
        <h5 class="ui middle aligned icon header"><i class="info circular inverted mini white icon"></i>Selecione um gráfico para ser exibido.</h5>
      </div>
    </div>
  </div>
</div>

<%= content_for :head do %>
  <%= stylesheet_link_tag 'dashboard', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<%end%>