<div id="flashcard_<%=flashcard.id%>" class="ui teal clearing segment flashcard">
  <h3 class="ui header"><%=flashcard.display%></h3>
  <div class="ui top right attached teal image label">
    <img src="https://image.flaticon.com/icons/svg/261/261941.svg">
    Algebra
  </div>
    <div class="ui basic segment texto" style="padding-top: 0px;padding-bottom: 0px">
        <p><%=Kramdown::Document.new(flashcard.texto).to_html.html_safe%></p>
    </div>
  <div class="ui divider"></div>
  <div class="ui mini icon circular basic button" data-tooltip="Marcar esse cartão como importante"
        data-position="bottom center" onclick="flip('<%=flashcard.id%>')">
      <i class="flag icon"></i>
  </div>
  
  <h6 class="ui right floated header" 
    <i class="ui yellow check icon"></i><i class="ui yellow check icon"></i><i class="ui grey check icon"></i>
  </h6>
</div>
