<%if flashcards.empty?%>
  Esse deck ainda não possui nenhum flashcard =/
<%else%>
  <div class="ui three column grid">
  	<%=render flashcards%>   
  </div>
<%end%>

<%= content_for :head do %>
	<%= stylesheet_link_tag 'flashcards', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'flashcards', media: 'all', 'data-turbolinks-track' => true %>
	<script>
		MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
	</script>
<%end%>