<div class="column">  
  <div id="flashcard_<%=flashcard.id%>" class="flip-container flashcard" onclick="document.querySelector('#flashcard_<%=flashcard.id%>').classList.toggle('flip');">   

    <div class="flipper">     
      <div class="front">       
          <p><%=flashcard.pergunta%></p>
      </div>      
      <div class="back">        
        <p><%=flashcard.resposta%></p>
      </div>    
    </div>  
  </div>
</div>