<%= simple_form_for @flashcard, remote: true do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="two fields">
      <%= f.input :pergunta, as: :ckeditor, input_html: { ckeditor: { toolbar: 'Full' } } %>
      <%= f.input :resposta, as: :ckeditor, input_html: { ckeditor: { toolbar: 'Full' } } %>
    </div>
    <%= f.input :deck_id, as: :hidden, input_html: { value: @deck.id } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
