<div id="flashcard_<%=flashcard.id%>" class="flip-container flashcard slide" data-target="slideshow.slide" data-action="click->slideshow#flip" data-fid="<%=flashcard.id%>">

  <div class="flipper">     
    <div class="front sombra">
      <p><%=flashcard.pergunta.html_safe%></p>
    </div>      
    <div class="back sombra">
    	
      <p><%=flashcard.resposta.html_safe%></p>
    </div>    
  </div>
  
  <%= simple_form_for resposta, html:{class: "ui small form", 'data-form': flashcard.id}, remote: true do |f| %>
    <%= f.error_notification %>
    <%= f.input :curso, :as => :hidden, input_html: { value: curso } %>
    <%= f.input :deck_id, :as => :hidden, input_html: { value: deck } %>
    <%= f.input :cartao_id, :as => :hidden, input_html: { value: cartao } %>
    <%= f.input :flashcard_id, :as => :hidden, input_html: { value: flashcard.id } %>
    <%= f.input :user_id, :as => :hidden, input_html: { value: user } %>
    <%= f.input :alternativa, :as => :hidden, input_html: { id: 'alt_'+flashcard.id } %>
  <%end%>
</div>