<div class="ui main grid container" >
	<%= exibe_header "Editar flashcard", "material", [] %>

	<%= render 'form' %>

	<%= link_to 'Show', @flashcard %> |
	<%= link_to 'Back', flashcards_path %>
</div>