<div id="front">
	<%=@flashcard.pergunta.html_safe%>
</div>	
<div id="back">
	<%=@flashcard.resposta.html_safe%>
</div>

<canvas id="clock" width="150" height="150">
  <%=@flashcard.pergunta.html_safe%>
</canvas>

<style type="text/css">
	#front, #back{
		font-size: 24px;
	}
</style>

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
  	jax: ["input/TeX","output/SVG"],
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
</script>

<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
</script>