<p id="notice"><%= notice %></p>

<h1>Listing Flashcards</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Display</th>
      <th>Texto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @flashcards.each do |flashcard| %>
      <tr>
        <td><%= flashcard.pergunta[0..50] %></td>
        <td><%= flashcard.resposta[0..50] %></td>
        
        <td><%= link_to 'Show', flashcard %></td>
        <td><%= link_to 'Edit', edit_flashcard_path(flashcard) %></td>
        <td><%= link_to 'Destroy', flashcard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Flashcard', new_flashcard_path %>
