<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @flashcard.pergunta.html_safe %>
</p>

<p>
  <strong>Display:</strong>
  <%= @flashcard.resposta.html_safe %>
</p>

<%= link_to 'Edit', edit_flashcard_path(@flashcard) %> |
<%= link_to 'Back', flashcards_path %>
