<%= link_to questao_path(questao), class: "card" do%>
  <div class="content">
    <div class="header">
      <%= questao.materia %>
      <%if questao.resposta.size >= 1%>
        <%if questao.gabarito == questao.resposta.order_by(created_at: 'desc').first.alternativa %>
          <i class="right floated green check circle icon"></i>
        <%else%>
          <i class="right floated minus circle icon"></i>
        <%end%>
      <%end%>
    </div>
    <div class="meta">
      <%= questao.materia%>
    </div>
    <div class="description">
      <span>(<%=questao.fonte%>)</span>
      <%=questao.texto[0..30].gsub(/\s\w+\s*$/,'...')%>
    </div>
  </div>
<%end%>

