<%= simple_form_for(@resposta) do |f| %>
  <%= f.error_notification %>

  <div class="ui form">
    <%= f.input :user %>
    <%= f.input :questao %>
    <%= f.input :alternativa %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
