<p id="notice"><%= notice %></p>

<h1>Listing Respostas</h1>

<table>
  <thead>
    <tr>
      <th>Data</th>
      <th>User</th>
      <th>Questao</th>
      <th>Alternativa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @respostas.each do |resposta| %>
      <tr>
        <td><%= resposta.created_at.strftime('%d/%m/%y') %></td>
        <td><%# resposta.user %></td>
        <td><%# resposta.questao.texto_auxiliar[0..50].html_safe %></td>
        <td><%= resposta.alternativa %></td>
        <td><%= link_to 'Show', resposta %></td>
        <td><%= link_to 'Edit', edit_resposta_path(resposta) %></td>
        <td><%= link_to 'Destroy', resposta, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resposta', new_resposta_path %>
