<%if @resposta.questao != nil%>
	$('#q_<%=@resposta.questao.id%>').html('<%= j render partial: "respostas/msg_resposta", locals:{certa: @resposta.certa}%>');

	<%alt = ["a","b","c","d","e"]%>
	<%alt.each do |alternativa|%>
	  $('#<%=alternativa%>_<%=@resposta.questao.id.to_s%>').find('i').addClass('outline');
	<%end%>

	$('#<%=@resposta.alternativa%>_<%=@resposta.questao.id.to_s%>').find('i').removeClass('outline');
<%elsif @resposta.flashcard != nil%>
	$('#acertei').html('<%= @desempenho[:acertos]%>');
	$('#acertei_com_dificuldade').html('<%= @desempenho[:quases]%>');
	$('#nao_acertei').html('<%= @desempenho[:erros]%>');

	document.getElementById("botao_proximo").click();	
<%end%>