<h5 class="ui top attached block header">Comentários</h5>
<div class="ui bottom attached segment">
  <div class="ui comments" id="comentarios_d_<%=@questao.id%>">
    <%if @questao.comentarios.size > 0%>
      <%@questao.comentarios.each do |c|%>
        <%= render partial: 'comentarios/show_externo', locals: {c: c}%>            
      <%end%>
    <%end%>
    </div>
    <div class="form comentario">
    <%= render partial: 'comentarios/form_externo', locals:{questao: @questao}%>
  </div>
</div>