<%= simple_form_for(@comentario, remote: true, :html => {id: "form_#{@comentario.dono.id}"}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :user_id, as: :hidden, :input_html => { value: current_user.id } %>
    <%if !local_assigns[:topico].nil?%>
      <%= f.input :topico_id, as: :hidden, :input_html => { value: topico.id } %>
    <%end%>
    <%if !local_assigns[:questao].nil?%>
      <%= f.input :questao_id, as: :hidden, :input_html => { value: questao.id } %>
    <%end%>
    <%= f.input :texto, label: 'Deixe o seu comentário a respeito:', as: :text, :input_html => {id: "textbox_#{@comentario.dono.id}"}%>
  </div>

  <div class="form-actions">
    <%= f.button :submit, id: "submit_#{@comentario.dono.id}" %>
  </div>
<% end %>
