<div class="comment" id="<%=c.id%>">
  <a class="avatar">
    <img src="<%=c.user.image_url%>">
  </a>
  <div class="content">
    <a class="author"><%=c.user.name%></a>
    <div class="metadata">
      <div class="date"><%=c.created_at.strftime('%d/%m/%y')%></div>
    </div>
    <div class="text" id="texto_<%=c.id%>">
      <%=c.texto.markdown_to_html%>
    </div>
    <div class="actions">
      <%if c.user.id = current_user.id%>
        <a id="editar_<%=c.id%>" class="action_editar">Editar</a>
        <%= link_to 'Excluir', c, method: :delete, data: { confirm: 'Você tem certeza que deseja excluir o comentário? Essa ação não poderá ser desfeita.', remote: true } %>
      <%end%>
    </div>
    <div id="form_<%=c.id%>">
    </div>
  </div>
</div>

<script>
  $('#editar_<%=c.id%>').click(function(){
    var texto = $('#texto_<%=c.id%>').text();
    texto = texto.replace(/<[^>]*>\s/g, "");
    texto = texto.trim();
    
    $('#textbox_<%="#{c.dono.id}"%>').focus();
    $('#textbox_<%="#{c.dono.id}"%>').val(texto);
    $('#form_<%="#{c.dono.id}"%>').attr('action', '/comentarios/<%=c.id%>');
    $('#form_<%="#{c.dono.id}"%>').attr('method', 'put');
  });
</script>