$('#comentarios_d_<%=@comentario.dono.id%>').append('<%= j render partial: 'comentarios/show_externo', locals: {c: @comentario} %>');
$('#<%=@comentario.id%>').transition('pulse');
$('#textbox_<%="#{@comentario.dono.id}"%>').val('');