$('#textbox_<%="#{@comentario.dono.id}"%>').val('');
$('#form_<%="#{@comentario.dono.id}"%>').attr('action', '/comentarios');
$('#form_<%="#{@comentario.dono.id}"%>').attr('method', 'post');
$('#<%=@comentario.id%>').transition('pulse');
$('#texto_<%=@comentario.id%>').html('<%= j @comentario.texto.markdown_to_html%>');