<div class="c_container">

  <div class="calendar-container">


    <table class="calendar">
      
      <thead>

        <tr>

          <td>D</td>
          <td>S</td>
          <td>T</td>
          <td>Q</td>
          <td>Q</td>
          <td>S</td>
          <td>S</td>

        </tr>

      </thead>

      <tbody>

        <tr>
          <td class="prev-month">29</td>
          <td class="prev-month">30</td>
          <td class="prev-month">31</td>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
        </tr>

        <tr>
          <td>5</td>
          <td>6</td>
          <td>7</td>
          <td>8</td>
          <td>9</td>
          <td>10</td>
          <td>11</td>
        </tr>

        <tr>
          <td>12</td>
          <td>13</td>
          <td>14</td>
          <td>15</td>
          <td>16</td>
          <td>17</td>
          <td data-tooltip="Aula de raciocínio lógico com o professor Paulo" data-inverted="" class="current-day">18</td>
        </tr>

        <tr>
          <td>19</td>
          <td>20</td>
          <td>21</td>
          <td>22</td>
          <td>23</td>
          <td>24</td>
          <td>25</td>
        </tr>

        <tr>
          <td>26</td>
          <td>27</td>
          <td>28</td>
          <td>29</td>
          <td>30</td>
          <td>31</td>
          <td class="next-month">1</td>
        </tr>

      </tbody>

    </table>

  </div> <!-- end calendar-container -->

</div> <!-- end container -->

<%= content_for :head do %>
  <%= stylesheet_link_tag 'calendar', media: 'all', 'data-turbolinks-track' => true %>
<%end%>