<div class="ui items sugestao">
  <h3 class="ui mandando bem header"><u><%=titulo%></u></h3>
  <div class="item">
    <div class="ui small image">
      <img src="/assets/icone_branco_fv.png">
    </div>
    <div class="content">
      <a class="mandando bem header">
        <%= tabela['assunto'].display %> 
        <%=gera_estrelas(tabela['taxa_de_acerto']/100).html_safe%>
      </a>
      <div class="meta">
        <span class="materia"><%= tabela['assunto'].materia.display%></span>
      </div>
      <div class="description">
        <p>
          Taxa de acertos: <%=tabela['taxa_de_acerto']%>% </br>
          Exercícios realizados: <%=tabela['realizados']%>
        </p>
      </div>
    </div>
  </div>
  <div class="extra">
    <a class="ui white mini basic ghost button">Resolver Exercícios</a>
  </div>
</div>