<div class="ui top fixed secondary inverted menu" style="background: rgba(33,33,33,1)">
  <a href="/plano_de_estudo">
    <img src="/assets/icone.png/" id="logo"/>
    <span id="logo_texto"><b>Tática Certa</b></span>
  </a>
  <div class="right menu">
    <div class="item">
      <a>Curso atual: <%= curso_atual.display %></a>
    </div>
    
    <%if current_user %>
      <div class="ui dropdown item">
        <%=image_tag(current_user.image_url, class: "ui avatar center aligned image")%>
        <span class="menu_username"><%=current_user.name%></span>
        <i class="ui dropdown icon"></i>
        <div class="menu">
          <%= link_to(logout_path, class: "item", method: :delete)  do %>
            <i class="power icon"></i>
            <span>sair</span>
          <%end%>
          <%if current_user.admin %>
            <h6 class="ui header">Funções de Admin</h6>
            <a href="https://app.contentful.com/spaces/h8r98awupeov/entries" class="red item" target="_blank">Contentful</a>
            <a href="/importa_assuntos" class="item">Importar assuntos</a>
            <a href="/importa_topicos" class="item">Importar topicos</a>
            <a href="/questoes/new" class="item">Nova questao</a>
            <a href="/apostilas/new" class="item">Nova apostila</a>
            <a href="/topicos/new" class="item">Novo Tópico</a>
            <a href="/ass/new" class="item">Novo Assunto</a>
            <h6 class="ui header">Listagens</h6>
            <a href="/questoes/" class="item">Banco de Questões</a>
          <%end%>
          
          
        </div>
      </div>
    <% else %>
      <%= link_to 'Login', "/login", class: "ui item", method: :get %>
    <%end%>
  
  </div>
        
</div>
  
<script>
  $('#close_msg_trial').click(function(){
    $('#msg_trial').hide();
  });
  $(document).ready(function(){
    $('.ui.dropdown')
      .dropdown({
        transition: 'slide down'
      })
    ;
  })

</script>