
<table class="ui compact definition table">
  <thead>
    <tr>
    <th><h3>Desempenho até aqui</h3></th>
    <th>Exercícios Resolvidos</th>
    <th>Acertos</th>
    <th>Desempenho</th>
  </tr></thead>
  <tbody>
      <% @tabela.each do |linha|%>
        <%if linha[1][1] != "-"%>
          <tr class="center aligned">
            <td class="left aligned"><%=linha[1][0].display%></td>
            <td><%=linha[1][1]%></td>
            <td><%=linha[1][2]%></td>
            <td><%=linha[1][3]%>%</td>
          </tr>
        <%end%>
    <%end%>
  </tbody>
</table>

<table class="ui compact definition table">
  <thead>
    <tr>
    <th><h3>Não respondi ainda</h3></th>
    <th>Exercícios Resolvidos</th>
  </tr></thead>
  <tbody>
      <% @tabela.each do |linha|%>
        <%if linha[1][1] == "-"%>
          <tr class="center aligned">
            <td class="left aligned"><%=linha[1][0].display%></td>
            <td><%=linha[1][1]%></td>
          </tr>
        <%end%>
    <%end%>
  </tbody>
</table>

<script>

</script>