$('.basic.segment i').hide();
$('#acertos').html('');

<%count = 1%>
<%acertos = 0%>
<%erros = 0%>

<% @apostila.questoes.each do |qid| %>
    <% q = Questao.find_by(id: qid) %> 
    $("#q<%= count%>").html('<div class="gabarito hidden"><%=q.gabarito%></div>');
    $('#exibe_gabarito').removeClass('disabled');
    
    <% if current_user.respostas.where(questao: q).size > 0 %>
        <% resp = current_user.respostas.where(questao: q).order_by(:created_at => 'desc').first.alternativa %>
        
        <%if resp == q.gabarito %>
            $('#ic_acerto<%= count%>').show();
            <%acertos += 1%>
        <%else%>
            $('#ic_erro<%= count%>').show();
            <%erros += 1%>
        <%end%>
    <%end%>
    
    <%count += 1%>
<% end %>

$('#acertos').html('<%= acertos %> / <%= count-1 %>');
<% if acertos == count-1 %>
    $('#acertos').append('   Parabens!!!');
<%end%>
