<style type="text/css">
  body {
    background-color: #DADADA;
  }
  body > .grid {
    height: 100%;
  }
  .image {
    margin-top: -100px;;
  }
  .column {
    max-width: 450px;
  }
</style>
<div class="ui middle aligned center aligned grid">
  <div class="column">
    <%= if flash[:warning].present? then flash[:warning] else end %>
    <h2 class="ui blue image header">
      <img src="assets/icone.png" class="image">
      <div class="content">
        Acesse a sua conta
      </div>
    </h2>
      <div class="ui stacked segment">
            <% if current_user %>
                <%= link_to 'Log Out', logout_path, method: :delete %>
            <% else %>
                <%= link_to 'Login via facebook', '/auth/facebook', class:"ui facebook fluid button" %>
                <%= link_to 'Login via google', '/auth/google', class:"ui google fluid button" %>
            <% end %>  
      </div>
  </div>
</div>