<!-- Page Contents -->
  <div id="menu" class="ui top fixed">
    <div class="ui container">  
      <a>
        <img src="/assets/icone.png/" id="logo"/>
        <span id="logo_texto">Tatica Certa</span>
      </a>
      <a href="/login" class="ui right floated primary button">Entrar</a>
    </div>
  </div>

  <div class="ui vertical masthead center aligned segment" id="header">
    <div class="ui text container">
      <h1 class="ui inverted header">
        Só a prática leva à perfeição!
      </h1>
      <br>
      <p class="ui inverted header">Estude para concursos de maneira eficiente, resolvendo questões e acompanhando seu desempenho</p>
      <br>
      <a href="/login" class="ui huge red button">Conheça o Tática Certa </a>
    </div>
  </div>
  
  <div class="bloco" id="margem_inicial">
    <div class="ui grid container">
      <div class="row">
        <div class=" wide column"></div>
        <div class="six wide column">
          <h2>Centenas de questões disponíveis. 
              Prontas para serem resolvidas</h2>
          <p>Questões de diversas provas, separadas por assunto e área do conhecimento.</p>
        </div>
        <div class="eight wide column">
          <img src="/assets/mocup.png" class="ui centered mockup flu image"></img>
        </div>
      </div>
    </div>
  </div>
  
  <div class="ui divider"></div>
  
  <div class="bloco">
    <div class="ui grid container">
      <div class="row">
        <div class="six wide column">
          <img src="/assets/AI.png" class="ui centered image"></img>
        </div>
        <div class="eight wide column">
          <h2>Aprendizagem acelerada pela Inteligência Artificial</h2>
          <p>Nosso algoritimo verifica quais assuntos você deve priorizar para tornar seus estudos mais proveitosos</p>
        </div>
        <div class="two wide column"></div>
      </div>
    </div>
  </div>
  
  <div class="ui divider"></div>
  
  <div class="bloco">
    <div class="ui grid container">
      <div class="row">
        <div class="two wide column"></div>
        <div class="eight wide column">
          <h2>Acompanhe seu desempenho e saiba onde precisa melhorar</h2>
          <p>Nosso dashboard único no mercado lhe ajuda a conhecer melhor seu perfil de aprendizad</p>
          </div>
          <div class="six wide column">
            <img src="/assets/tablet.png" class="ui centered image"></img>
          </div>
      </div>
    </div>
  </div>
  
  <div class="ui divider"></div>
  
  <div class="ultimo bloco">
    <div class="ui grid container">
      <div class="row">
        <div class="center aligned column"><h2>Leve seus estudos a um outro nível</h2></div>
      </div>
      <div class="row">
        <div class="center aligned column"><a href="/login" class="ui teal big button">Entrar</a></div>
      </div>
    </div>
  </div>
  
  <div class="ui black inverted vertical footer segment" id="footer">
    <div class="ui center aligned inverted grey text container">
      <i class="small chevron left icon"></i><i class="small chevron right icon"></i> com <i class="small heart icon"></i> em Castanhal
    </div>
  </div>

<%= content_for :head do %>
  <%= stylesheet_link_tag 'main', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'main', media: 'all', 'data-turbolinks-track' => true  %>
<%end%>
