$('#conteudo_principal').html("<%= j render partial:'apostilas/apostilas', locals:{apostilas: @apostilas}%>");
$('#sub_load').hide();
$('.item').removeClass('active');
$('#novas').addClass('active');
$('.content').hide();
$('.progress').progress();