<div class="ui basic modal">
  <h1 class="header"><%=flash[:success]%></h1>
</div>
  
<div class="ui main grid container" >
  <%= exibe_header "Controle seus estudos", "plano", [] %>
  
  <%= tabela_estudos @estudos %>

</div>

<%= content_for :head do %>
  <%= stylesheet_link_tag 'painel', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
<%end%>

<%if flash[:success].present?%>
  <script>
    $('.ui.basic.modal')
      .modal('show')
    ;
  </script>
<%end%>
