
  <%= simple_form_for @questao, html:{class: "ui small form"} do |f| %>
    
    <h4 class="ui dividing blue header">Fonte</h4>
    <div class="field">
      <div class="five fields">
        <%= f.input :banca, warpper_html: { class: ' input ' } %>
        <%= f.input :ano, warpper_html: { class: ' input ' } %>
        <%= f.input :orgao, warpper_html: { class: ' input ' } %>
        <%= f.input :prova, warpper_html: { class: ' input ' } %>
        <%= f.input :identificador, warpper_html: { class: 'input' }%>
      </div>
    </div>
    
    <h4 class="ui dividing blue header">Enunciado</h4>
    <div class="ui segment">
      <div id="carrega" class="ui button">Carrega questão</div>
      <div id="showlatex" class="ui button">Dicas de formatação</div>
      <img id="cheatsheet" src="/assets/latex.png" alt="Cheatsheet">
      <%= f.input :texto_auxiliar, as: :trix_editor %>
    </div>
    
    <h4 class="ui dividing blue header">Alternativas</h4>
      <div class="ui segment">
      <%= f.input :gabarito, collection: ["a", "b", "c", "d", "e"], warpper_html: { class: 'input' } %>
      <%= f.error :materia_id%>
      <div class="alternativas">
        <%= f.input :alternativa1, warpper_html: { class: 'input' } %>
        <%= f.input :alternativa2, warpper_html: { class: 'input' } %>
        <%= f.input :alternativa3, warpper_html: { class: 'input' } %>
        <%= f.input :alternativa4, warpper_html: { class: 'input' } %>
        <%= f.input :alternativa5, warpper_html: { class: 'input' } %>
      </div>
    </div>
    
    <h4 class="ui dividing blue header">Matéria e tópicos</h4>
    <div class="ui segment" id="topicos">
      <%if @questao.materia != nil%>
        <%= f.input :materia, collection: @materias, label_method: :to_label, warpper_html: { class: 'input' }, :selected => @questao.materia.id %>
      <%else%>
        <%= f.input :materia, collection: @materias, label_method: :to_label, warpper_html: { class: 'input' }%>
      <%end%>
      
      <h4>Assuntos</h4>
      <%= f.input :assuntos, collection: @assuntos, label_method: :to_label, warpper_html: { class: 'input' }, 
        as: :check_boxes, selected: [1]%>
    
      <h4>Tópicos</h4>
      <%= f.input :topicos, collection: @topicos, label_method: :to_label, warpper_html: { class: 'input' },
        as: :check_boxes, selected: [1]%>
    </div>
    
    <div class="ui segment" id="resolucao">
      <%= f.input :resolucao, as: :trix_editor %>
    </div>
    
    <%= f.button :submit, "Salvar", class: "ui submit button" %>
  <% end %>
  <div class="grid">
    <div class="ui segment" id="assuntos">
      <h3>Assuntos</h3>
      <ul>
        <%@questao.assuntos.each do |a|%>
          <%assunto = Assunto.find_by(id: a)%>
          <li><%=assunto.display%> <a href="/assuntos/remove/<%=assunto.id%>/<%=@questao.id%>"><i class="fitted x icon"></i></a></li>
        <%end%>
      </ul>
      
      <select class="ui search dropdown" id="sel_assunto">
        <%@assuntos.each do |a|%>
          <option value="<%=a.id%>"><%=a.display%></option>
        <%end%>
      </select>
      
      <a class="ui button" id="add_assunto">Adiciona</a>
    </div>
    </br>


    <div class="ui segment" id="assuntos">
      <h3>Apostila</h3>
      <select class="ui search dropdown" id="select">
        <option value="">State</option>
        <%@apostilas.each do |a|%>
          <option value="<%=a.id%>"><%=a.nome%></option>
        <%end%>
      </select>
      <a href="/adiciona_questao/" class="ui button" id="add" data-remote=true >adicionar</a>
    </div>
  </div>

<script>
  $('#select').change(function(){
    var val = $('#select').val();
    $('#add').attr("href", "/adiciona_questao/<%=@questao.id%>/"+val);
  });
  
  $('#sel_assunto').change(function(){
    var ass = $('#sel_assunto').val();
    var area = $('#sel_assunto').find(":selected").attr("area");
    $('#add_assunto').attr("href", "/assuntos/adiciona/"+ass+"/<%=@questao.id%>");
  });
  
  $(document).ready(function(){
    <%@questao.topicos.each do |t|%>
      $('input[value="<%=t%>"]').prop('checked', true);
    <%end%>
    <%@questao.assuntos.each do |a|%>
      $('input[value="<%=a%>"]').prop('checked', true);
    <%end%>
    $('#cheatsheet').hide();
  });
  
  $('#showlatex').click(function(){
    $('#cheatsheet').toggle();
  });
</script>