<%= simple_form_for @questao, html:{class: "ui small form"}, remote: true do |f| %>
  <%= f.input :identificador, warpper_html: { class: 'input' }%>
  <%= f.input :gabarito, collection: ["a", "b", "c", "d", "e"], warpper_html: { class: 'input' } %>
  <%= f.input :topicos, collection: @topicos, label_method: :to_label, warpper_html: { class: 'input' },
        as: :check_boxes, selected: [1]%>
  <%= f.button :submit, "Salvar", class: "ui submit button" %>
  
<%end%>