

<a class="ui labeled button" id="proxima" href=<%="#{root_path}/proxima/#{@materia}"%>>
  <div class="ui red button">
    Próxima Questão
  </div>
  <div class="ui basic red left pointing label">
    <%= falta_responder(@materia)%>
  </div>
</a>