<% if questoes.count == 0 %>
    Nenhuma questao a ser exibida
<% else %>

<div class="ui center aligned container">
  <table class="ui single line selectable table">
    <thead>
      <tr><th>Disciplina</th>
      <th>Fonte</th>
      <th>Enunciado</th>
      <th>Tentativas</th>
      <th>Acertos</th>
      <th>Exibir</th>
    </tr></thead>
    <tbody>
      <%= render questoes %>
    </tbody>
  </table>
  <%= paginate @questoes, remote: true %>
</div>

<% end %>