<tr>
  <td class = "collapsing" ><%= questao.materia.display %></td>
  <td class = "collapsing" ><%= questao.fonte %></td>
  <td><%= questao.texto.length <= 60 ? questao.texto : questao.texto[0..79]+"..." %></td>
  <td class = "collapsing" ><%= questao.resposta.size %></td>
  <td class = "collapsing" ><%=respostas_certas(questao)%></td>
  <td class="collapsing"><%= link_to questao.link("matematica") do %><i class="unhide link inverted circular icon"></i><%end%></td>
</tr>
