<!---Seção principal-->
  <div class="ui left aligned container">
    <div class="area principal">
      <h3 class="ui left aligned header"> 
        Questão <%=@indice%> - <%=@questao.banca%>(<%=@questao.ano%>)<div class="alert resposta" id="q_<%=@questao.id%>"></div>
      </h3>
      
      <%if @questao.texto_auxiliar != "" %>
        <div class="enunciado">
          <%=@questao.texto_auxiliar.html_safe%>
        </div>
      <%end%>
  
      <%= simple_form_for@resposta, html:{class: "ui small form"}, remote: true do |f| %>
        <%= f.error_notification %>
        <%= f.input :curso, :as => :hidden, input_html: { value: curso_atual.id.to_s } %>
        <%= f.input :materia, :as => :hidden, input_html: { value: @questao.materia.id.to_s } %>

        <%@questao.assuntos.each do |a|%>
          <%if a != ""%>
            <%= f.hidden_field :assuntos, :value => a, multiple: true %>
          <%end%>
        <%end%>
        
        <%@questao.topicos.each do |t|%>
          <%if t != ""%>
            <%= f.hidden_field :topicos, :value => t, multiple: true %>
          <%end%>
        <%end%>
        
        <%if @apostila != nil%>
          <%= f.input :apostila_id, :as => :hidden, input_html: { value: @apostila.id } %>
        <%end%>
        
        <div class="ui divider"></div>
        <div id="alternativas" class="grouped fields">
          <%if @questao.alternativa1 != ""%>
            <div class="field">
              <div class="ui radio checkbox a">
                <input type="radio" name="resposta[alternativa]" value="a" tabindex="0" class="hidden">
                <label><%=@questao.alternativa1.html_safe%></label>
              </div>
            </div>
          <%end%>
          <div class="ui divider"></div>
          <%if @questao.alternativa2 != ""%>
            <div class="field">
              <div class="ui radio checkbox b">
                <input type="radio" name="resposta[alternativa]" value="b" tabindex="0" class="hidden">
                <label><%=@questao.alternativa2.html_safe%></label>
              </div>
            </div>
          <%end%>
          <div class="ui divider"></div>
          <%if @questao.alternativa3 != ""%>
            <div class="field">
              <div class="ui radio checkbox c">
                <input type="radio" name="resposta[alternativa]" value="c" tabindex="1" class="hidden">
                <label><%=@questao.alternativa3.html_safe%></label>
              </div>
            </div>
          <%end%>
          <div class="ui divider"></div>
          <%if @questao.alternativa4 != ""%>
            <div class="field">
              <div class="ui radio checkbox d">
                <input type="radio" name="resposta[alternativa]" value="d" tabindex="1" class="hidden">
                <label><%=@questao.alternativa4.html_safe%></label>
              </div>
            </div>
          <%end%>
          <div class="ui divider"></div>
          <%if @questao.alternativa5 != ""%>
            <div class="field">
              <div class="ui radio checkbox e">
                <input type="radio" name="resposta[alternativa]" value="e" tabindex="1" class="hidden">
                <label><%=@questao.alternativa5.html_safe%></label>
              </div>
            </div>
          <%end%>
        </div>
        <div class="ui divider"></div>
        <!-- <div class="form-actions resposta">
          <%= f.button :submit, "Responder", class:"ui button", id:"submit_button" %>
          
          <%if (@questao.resolucao != nil) and (@questao.resolucao != "")%>
            <a class="ui tiny button yellow right floated" id="mostra_modal" 
                    onclick="exibeResolucao('#resolucao_<%=@questao.id%>')">Ver Resolução</a>
          <%end%>
        </div> -->
      <% end %>
    </div>
    
    <%if current_user.admin%>
      <%= link_to "editar", edit_questao_path(@questao)%>
    <%end%>
    
    <div id="resolucao_<%=@questao.id%>" class="resolucao" style="padding-top: 10px">
      <h5 class="ui top attached block header">Resolção</h5>
      <div class="ui bottom attached segment">
        <%if (@questao.resolucao != nil) and (@questao.resolucao != "")%> 
          <%=@questao.resolucao.markdown_to_html%>
        <%end%>
      </div>
    </div>
    
    <!--<div id="comentarios_<%=@questao.id%>" style="padding-top: 10px"></div>-->
    
  </div>
  
<%= content_for :head do %>
  <%= stylesheet_link_tag 'questoes', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif|Poppins|Roboto" rel="stylesheet">
<%end%>

<script>
  $( document ).ready(function() {
      $('.ui.radio.checkbox')
        .checkbox()
      ;
      <%if ['a', 'b', 'c', 'd', 'e'].include? @resposta.alternativa %>
        $('.ui.radio.checkbox<%=".#{@resposta.alternativa}"%>').checkbox('check');
      <%end%>
      $('.ui.radio.checkbox')
        .checkbox({
          onChecked: function() {
            $( "form" ).submit();
          },
        })
      ;
  });
</script>