<div class="main container">
  <h1>Importar Questões</h1>
  
  <button class="ui small button" onclick="carregar_texto()"></button>
  <textarea id="input"></textarea>
  
  <div id="questoes" class="ui segment"></div>
  
</div>

<script>

function carregar_texto(){
  var texto = $('#input').val();
  var primeiro = true
  
  $(texto).find('.uma-questao-6').each(function(){
    q = $(this).html()
    form = $('#form_modelo').find('form').clone();
    
    
    enunciado = $(this).find('.enunciado').html();
    a = $(this).find('.label-alternativa-a').find('.questoes-texto').html();
    b = $(this).find('.label-alternativa-b').find('.questoes-texto').html();
    c = $(this).find('.label-alternativa-c').find('.questoes-texto').html();
    d = $(this).find('.label-alternativa-d').find('.questoes-texto').html();
    e = $(this).find('.label-alternativa-e').find('.questoes-texto').html();
    
    banca = $(this).find('.uma-questao-topo-linha2-class').find('div:eq(1)').text();
      var ini = banca.indexOf("Banca:")+7;
      var fim = banca.length;
      banca = banca.substring(ini, fim);
      
    ano = $(this).find('.uma-questao-topo-linha2-class').find('div:eq(0)').text();
      var ini = ano.indexOf("Ano:")+5;
      var fim = ano.length;
      ano = ano.substring(ini, fim);
      
    orgao = $(this).find('.uma-questao-topo-linha2-class').find('div:eq(2)').text();
      var ini = orgao.indexOf("Orgao:")+7;
      var fim = orgao.length;
      orgao = orgao.substring(ini, fim);
    
    prova = $(this).find('.uma-questao-topo-linha2-class').find('div:eq(3)').text();
      var ini = prova.indexOf("Prova:")+7;
      var fim = prova.length;
      prova = prova.substring(ini, fim);
    
    $('#questoes').append("###############################</br>");
    f = $('#questoes').append(form);
    
    $('#questoes').find('.questao_banca input').last().val(banca);
    $('#questoes').find('.questao_ano input').last().val(ano);
    $('#questoes').find('.questao_orgao input').last().val(orgao);
    $('#questoes').find('.questao_prova input').last().val(prova);
    $('#questoes').find('.questao_texto_auxiliar input').last().val(enunciado);
    $('#questoes').find('.questao_alternativa1 input').last().val(a);
    $('#questoes').find('.questao_alternativa2 input').last().val(b);
    $('#questoes').find('.questao_alternativa3 input').last().val(c);
    $('#questoes').find('.questao_alternativa4 input').last().val(d);
    $('#questoes').find('.questao_alternativa5 input').last().val(e);
  });
}


</script>



<div id="form_modelo" style="display: none">
  <%= simple_form_for @questao, html:{class: "ui small form"}, remote: true do |f| %>
      <%= f.input :materia, :as => :hidden, input_html: { value: @questao.materia.id } %>
  
      <%= f.input :texto_auxiliar, warpper_html: { class: 'input enunciado' }%>
      <div class="field">
        <div class="five fields">
          <%= f.input :banca, warpper_html: { class: ' input banca' } %>
          <%= f.input :ano, warpper_html: { class: ' input ano' } %>
          <%= f.input :orgao, warpper_html: { class: ' input orgao' } %>
          <%= f.input :prova, warpper_html: { class: ' input prova' } %>
          <%= f.input :identificador, warpper_html: { class: 'input ident' }%>
        </div>
      </div>
      <div class="field">
        <div class="six fields">
          <%= f.input :alternativa1, warpper_html: { class: 'input' } %>
          <%= f.input :alternativa2, warpper_html: { class: 'input' } %>
          <%= f.input :alternativa3, warpper_html: { class: 'input' } %>
          <%= f.input :alternativa4, warpper_html: { class: 'input' } %>
          <%= f.input :alternativa5, warpper_html: { class: 'input' } %>
          <%= f.button :submit, "Salvar", class: "ui submit button" %>
        </div>
      </div>
    
  <%end%>
</div>