<div class="main container">
  <p id="notice"><%= notice %></p>
  
  <h1>Banco de Questões</h1>
  
  <div class="ui segment" id="assuntos">
    <h3>Apostila</h3>
    <select class="ui search dropdown" id="select">
      <option value="">State</option>
      <%@apostilas.each do |a|%>
        <option value="<%=a.id%>"><%=a.nome%></option>
      <%end%>
    </select>
    <a id="adicionar_questoes" class="ui small right floated button" onclick="adicionar_questoes()">Adicionar à lista</a>
  </div>
  
  
  <table class="ui celled collapsing sortable compact small table">
    <thead>
      <tr>
        <th class="collapsing">Ident</th>
        <th class="collapsing">Materia</th>
        <th class="collapsing">Enunciado</th>
        <th class="collapsing">Gabarito</th>
        <th colspan="5">Ações</th>
      </tr>
    </thead>
  
    <tbody>
      <% @questoes.each do |questao| %>
        <tr class="<%=if questao.alertas.size > 0 then "error" end%>">
          <th>
            <%= questao.identificador.to_i.to_s.rjust(4, '0')%>
          </th>
          <th><%= questao.materia.display%></th>
          <th><%= questao.texto_auxiliar[0..30] %></th>
          <td><%= questao.gabarito %></td>
          <td>
            <a href="/questao/exibir_formulario/<%=questao.id.to_s%>" data-remote="" onclick="mostraFormularioDeClassificacao()">
              <%if questao.alertas.size > 0%><i class="attention icon"></i> <%end%>
              Classificar
            </a>
          </td>
          <td><%= link_to 'Exibir', questao %></td>
          <td><%= link_to 'Editar', edit_questao_path(questao) %></td>
          <td><%= link_to 'Destruir', questao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td><a href="" questao="<%=questao.id%>" class="ui add button" data-remote=true >adicionar</a></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <br>
  
  <%= link_to 'New Questao', new_questao_path %>
  
  <div id="modal_classificacao" class="ui modal">
    <div class="header">Header</div>
    <div id="modal_content" class="content">
    </div>
  </div>
  
</div>

<script src="https://semantic-ui.com/javascript/library/tablesort.js" data-turbolinks-track="true"></script>

<script>
  function adicionar_questoes(){
    $('.add').each(function(){
      var lista = $('#select').val();
      var questao = $(this).attr('questao');
      var url = "/adiciona_questao/"+questao+"/"+lista
      $(this).attr('href', url)
    })
  }
</script>