<div id="container"></div>
<div class="ui grid main container">
  <div class="row">
    <div class="three wide column"></div>
      <div class="ten wide column">
        <h1>Editing Questao</h1>
        <%= render 'form' %>
    
        <%= link_to 'Back', questoes_path %>    
      </div>
    <div class="three wide column"></div>
  </div>
  <div class = "row">
    <div id="texto" class="ui button">Carrega textos</div>
    
    </br>
    <div id="txt-area-container">
      imported html
    </div>
    
    <p><input id="url" type="text" value=""></input></p>
    <p><input id="submit" type="submit" value="submit"></input></p>
  </div>
</div>

<script type="text/javascript">
// Accepts a url and a callback function to run.
function requestCrossDomain( site, callback ) {
     
    // If no url was passed, exit.
    if ( !site ) {
        alert('No site was passed.');
        return false;
    }
     
    // Take the provided url, and add it to a YQL query. Make sure you encode it!
    var yql = 'https://query.yahooapis.com/v1/public/yql?q=' + encodeURIComponent('select * from htmlstring where url="' + site + '"') + '&format=xml&env=store%3A%2F%2Fdatatables.org%2Falltableswithkeys';
    //https://query.yahooapis.com/v1/public/yql?q=select%20*%20from%20htmlstring%20where%20url%3D'http%3A%2F%2Fwww.yahoo.com%2F'&diagnostics=true&env=store%3A%2F%2Fdatatables.org%2Falltableswithkeys
     
    // Request that YSQL string, and run a callback function.
    // Pass a defined function to prevent cache-busting.
    
    var jqxhr = $.getJSON( yql, function() {
    })
      .done(function() {
        $('#txt-area-container').html(jqxhr.responseText);
      })
      .fail(function() {
        console.log( "error" );
      })
      .always(function() {
        var ht = jqxhr.responseText;

        var a = $.parseXML(jqxhr.responseText);
        $xml = $( a ).find("results")[0];
        $b = $($xml).find('result').text();
        
        $('#txt-area-container').html($b);
        console.log( "complete" );
      });
    
    //cbFunc(jqxhr);
    function cbFunc(jqxhr) {
    // If we have something to work with...
    if ( jqxhr.results[0] ) {
        // Strip out all script tags, for security reasons.
        // BE VERY CAREFUL. This helps, but we should do more. 
        jqxhr = jqxhr.results[0].replace(/<script[^>]*>[\s\S]*?<\/script>/gi, '');
         
        // If the user passed a callback, and it
        // is a function, call it, and send through the data var.
        if ( typeof callback === 'function') {
            callback(jqxhr);
        }
    }
    // Else, Maybe we requested a site that doesn't exist, and nothing returned.
    else throw new Error('Nothing returned from getJSON.');
    }
}
    
    
    
    $('#submit').click(function(){
      var url = $('#url').val();
      
      requestCrossDomain(url, function(results) {
      });
      
    });
    
    $('#carrega').click(function(){
      var txto = $('.trix-content').val();
      
      txt = txto.replace(/\u00a0/g, " ");
      txt = txt.replace(/<[^>]*>/g, '');
      
      var ini = txt.indexOf("Banca:")+7;
      var fim = txt.indexOf("Órgão:");
      $('#questao_banca').val(txt.substring(ini, fim));
      
      var ini = txt.indexOf("Ano:")+4;
      var fim = txt.indexOf("Banca:");
      $('#questao_ano').val(txt.substring(ini, fim));
      
      var ini = txt.indexOf("Órgão:")+6;
      var fim = txt.indexOf("Prova:");
      $('#questao_orgao').val(txt.substring(ini, fim));
      
      //Prova
      var ini = txto.indexOf("Prova:")+6;
      var t = txto.substring(ini, txto.length);
      var pfim = t.indexOf("</div>");
      var prova = t.substring(0, pfim)
      $('#questao_prova').val(prova);
      
      var ini = txt.indexOf("a)")+2;
      var fim = txt.indexOf("b)");
      var a = txt.substring(ini, fim).replace(/<[^>]*>/g, '');
      $('#questao_alternativa1').val(a);
      
      var ini = txt.indexOf("b)")+2;
      var fim = txt.indexOf("c)", ini);
      var b = txt.substring(ini, fim).replace(/<[^>]*>/g, '');
      $('#questao_alternativa2').val(b);
      
      var ini = txt.indexOf("c)")+2;
      var fim = txt.indexOf("d)", ini);
      var c = txt.substring(ini, fim).replace(/<[^>]*>/g, '');
      $('#questao_alternativa3').val(c);
      
      var ini = txt.indexOf("d)")+2;
      var fim = txt.indexOf("e)", ini);
      var d = txt.substring(ini, fim).replace(/<[^>]*>/g, '');
      $('#questao_alternativa4').val(d);
      
      var ini = txt.indexOf("e)")+2;
      var fim = txt.length
      var e = txt.substring(ini, fim).replace(/<[^>]*>/g, '');
      $('#questao_alternativa5').val(e);
      
      var ini = txto.indexOf(prova)+prova.length+6;
      var fim = txto.indexOf("a)");
      var enunciado = txto.substring(ini,fim);
      $('.trix-content').val(enunciado);
      
    });
    
    
    $('#texto').click(function(){
      $('.questao_imagem input').val("");
      
      var url = $('#url').val();
    
      if(url != ''){
        var questao = $('.uma-questao-1').eq(url-1);
      } else {
        var questao = $('.uma-questao-1');
      }
      
      var enunciado = $(questao).find('.enunciado').html();
      $('.trix-content').val(enunciado);
      
      alert(questao.html());
      
      var a = $(questao).find('.questoes-texto').eq(0).html().replace(/<\/?[^>]+(>|$)/g, "");
      var b = $(questao).find('.questoes-texto').eq(1).html().replace(/<\/?[^>]+(>|$)/g, "");
      var c = $(questao).find('.questoes-texto').eq(2).html().replace(/<\/?[^>]+(>|$)/g, "");
      var d = $(questao).find('.questoes-texto').eq(3).html().replace(/<\/?[^>]+(>|$)/g, "");
      var e = $(questao).find('.questoes-texto').eq(4).html().replace(/<\/?[^>]+(>|$)/g, "");

      alert(a)
      alert(b)
      alert(c)
      alert(d)
      alert(e)

      $('#questao_alternativa1').val(a);
      $('#questao_alternativa2').val(b);
      $('#questao_alternativa3').val(c);
      $('#questao_alternativa4').val(d);
      $('#questao_alternativa5').val(e);
      
    });
    
    $('#carrega-stoodi').click(function(){
      var enunciado = $(".query").html();
      var fonte = $(".query h3").html();
      var texto = $('.alternatives').text();
      
      var a = $(".alternatives p:nth-of-type(1)").html();
      var b = $(".alternatives p:nth-of-type(2)").html();
      var c = $(".alternatives p:nth-of-type(3)").html();
      var d = $(".alternatives p:nth-of-type(4)").html();
      var e = $(".alternatives p:nth-of-type(5)").html();
      
      $('#enunciado').html(enunciado);
      $('.trix-content').val(enunciado);
      
      $('#fonte').html(fonte);
      
      $('#alternativa1').html(a);
      $('#questao_alternativa1').val(a);
      
      $('#alternativa2').html(b);
      $('#questao_alternativa2').val(b);
      
      $('#alternativa3').html(c);
      $('#questao_alternativa3').val(c);
      
      $('#alternativa4').html(d);
      $('#questao_alternativa4').val(d);
      
      $('#alternativa5').html(e);
      $('#questao_alternativa5').val(e);
      
      //$('#container').hide();
    });
    
    $('#texto-stoodi').click(function(){
      var texto = $('.alternatives').text();
      
      var a = texto.substring(texto.indexOf("a.")+2,texto.indexOf("b."));
      var b = texto.substring(texto.indexOf("b.")+2,texto.indexOf("c."));
      var c = texto.substring(texto.indexOf("c.")+2,texto.indexOf("d."));
      var d = texto.substring(texto.indexOf("d.")+2,texto.indexOf("e."));
      var e = texto.substring(texto.indexOf("e.")+2,texto.length);
      
      $('#alternativa1').html(a);
      $('#questao_alternativa1').val(a);
      
      $('#alternativa2').html(b);
      $('#questao_alternativa2').val(b);
      
      $('#alternativa3').html(c);
      $('#questao_alternativa3').val(c);
      
      $('#alternativa4').html(d);
      $('#questao_alternativa4').val(d);
      
      $('#alternativa5').html(e);
      $('#questao_alternativa5').val(e);
    });
</script>

<%= content_for :head do %>
  <%= stylesheet_link_tag 'painel', media: 'all', 'data-turbolinks-track' => true %>
<%end%>
