<div id="cartao_resposta">
  <h3 class="ui center aligned header">Banpará Tecnico Bancário - 2016</h3>
  </br>
  <div class="ui grid">
    <div class="eight wide column">
      <h3 class="ui center aligned header">Cartão resposta</h3>
      <table class="ui celled selectable single line very compact attached table">
        <thead><tr class="cabecalho">
            <th>Questão</th>
            <th class="center aligned"><span>a</span></th>
            <th class="center aligned"><span>b</span></th>
            <th class="center aligned"><span>c</span></th>
            <th class="center aligned"><span>d</span></th>
            <th class="center aligned"><span>e</span></th>
            <th>Link</th>
        </tr></thead>
        <tbody>
          <%cont = 1%>
          <%user = current_user%>
          <%icones = []%>
          <%@cartao_resposta.questoes.each do |q|%>
            <tr id="q_<%=cont%>">
              <td>Questao <%=cont%></td>
              <%(0..5).each do |i|%>
                <% icones[i] = '<i class="circle outline icon"></i>' %>
              <%end%>

              <%if @respostas.key?(q) %>
                <%r = @respostas[q]%>
                <%icones = apostila_gera_icones !@cartao_resposta.aberto, r.gabarito, r.alternativa %>
              <%end%>
              
              <%i=0%>
              <%['a', 'b', 'c', 'd', 'e'].each do |alt|%>
                <td id="<%= "#{alt}_#{q.to_s}" %>" class="center aligned <%=alt%>">
                  <%=icones[i].html_safe%>
                </td>
                <%i+=1%>
              <%end%>
              
              <td>
                <a class="ui mini basic blue button" href="<%=@apostila.link%>/<%=cont%>" data-remote="" onclick="ajax_link();fechaMenu()">Link</a>
              </td>
              
            </tr>
            <%cont += 1%>
          <%end%>
        </tbody>
      </table>
    </div>
    <div class="eight wide column">
      <h3 class="ui center aligned header">Sobre a lista</h3>
      <div id="detalhes_da_lista" class="ui left aligned segment">
        <h4 class="ui header">Descrição: </h4>
        <p><%= @apostila.texto != "" ? @apostila.texto : "Descrição ainda não disponível..." %></p>
        
        <h4 class="ui header">Dados:</h4>
        <p>
          Total de questões: <%=@apostila.questoes.count%></br>
          Resolvida: <%=@apostila.cartoes.count%> vezes
        </p>
        
        <h4 class="ui header">Meu feedback:</h4>
        <p>Responda a lista para ter acesso ao seu feedback personalizado</p>
        
        <h4 class="ui header">Ações:</h4>
          <a id="botao_finaliza" class="ui left floated button" href="/corrige_cartao/<%=@apostila.nome%>" onclick="ajax_link()" data-remote="">
            Finalizar resolução
          </a>
          </br>
          </br>
          
      </div>    
    </div>
  </div>
</div>