<%= simple_form_for(@apostila) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nome %>
    <%= f.input :descricao %>
    <%= f.input :display %>
    <%= f.input :curso, as: :select, :collection => @cursos %>
    <%= f.input :materias, as: :check_boxes, :collection =>  @materias %>
    <%= f.input :texto, as: :trix_editor %>
    <%= f.input :semana_id, as: :select, collection: @semanas %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<script>
  $(document).ready(function(){
    <%@apostila.materias.each do |m|%>
      $('input[value="<%=m%>"]').prop('checked', true);
    <%end%>    
  });
</script>