<div class="ui basic segment" style="overflow-x: hidden;">
  <h3 class="ui header"><%=@apostila.display%></h3>
  
  <%if @apostila.texto != nil%>
    <div class="ui justifyed text container"><%=@apostila.texto.html_safe%></div>
  <%end%>
</div>