<div id="menu_apostila">
  <div class="item">
    <a>Voltar</a>
  </div>
  <div class="item">
    <a id="anterior" href="<%=@apostila.nome%>/1" data-remote="" onclick="ajax_link()">Questão Anterior</a>
  </div>
  <div class="item">
    <div id="contador">
      Questão 1 de <%=@apostila.questoes.count%>
    </div>
  </div>
  <div class="item">
    <a id="proxima" href="<%=@apostila.nome%>/1" data-remote="" onclick="ajax_link()">Próxima Questão</a>
  </div>
  <div class="item">
    <a id="link_cartao_resposta" onclick="cartao_resposta()">Cartão resposta</a>
  </div>
</div>