<div class="ui grid main container" >
  <%= render 'menu_apostila'%>
  <div class="row">
    <div class="two wide column"></div><!-- Coluna de margem-->
    
    <div class="twelve wide center aligned column">
      <div class="ui inverted dimmer questao">
        <div class="ui text loader">Carregando</div>
      </div>
      <div id="cartao_resposta">
        <%= render partial: "cartao_resposta", locals:{corrigido: false}%>
      </div>
      <div id="frame" class="ui basic segment"></div><!--Questão-->
    </div>
    
    <div class="two wide column"></div><!-- Coluna de margem-->
  </div><!--Row-->
</div><!--Row-->
<%= content_for :head do %>
  <%= javascript_include_tag 'provas_e_simulados', media: 'all', 'data-turbolinks-track' => true  %>
  <%= stylesheet_link_tag 'questoes', media: 'all', 'data-turbolinks-track' => true %>
<%end%>