<div class="ui main grid container" id="dashboard_container">
  <%= exibe_header "Provas e Simulados", "prova", []%>
  <div class="row">
    <div class="ui five wide column">
      <h3 class="ui center aligned dividing header">Encontrar exercícios</h3>

      <div class="ui fluid action input">
        <input type="text" placeholder="O que você está procurando?">
          <button class="ui teal icon button">
            <i class="search icon"></i>
          </button>
      </div>
    </div><!--Filtros-->
    <div class="ui eleven wide column">
      <h3 class="ui center aligned dividing header" id="desempenho">Listas de exercícios</h3>
      <div id="conteudo">
        <div class="ui divider"></div>
        <div id="lista_taticas" class="ui styled centered accordion">
          <% @apostilas.each do |a|%>
            <div class="title">
              <i class="large github middle aligned icon"></i>
              <a class="header tatica"><%=a.display%></a>
            </div>    
            <div class="content">
              <div class="ui basic segment">
                <a href="<%=a.link%>" class="ui right floated white item button">Abrir</a>    
                <p><%= a.descricao%></p>
                <div class="ui tag teal labels">
                  <% a.topicos_obj[0..2].each do |t|%>
                  <a class="ui label">
                    <%=t.nome%>
                  </a>
                  <%end%>
                  <%if a.topicos_obj.size > 3%>
                    <a>mais <%=a.topicos_obj.size%></a>
                  <%end%>
                </div>
              </div>
            </div>
          <%end%>
        </div>
      </div>
    </div>
  </div><!--Row-->
</div>

<script>
  $(document).on('turbolinks:load', function(){
    $('.ui.accordion').accordion({});
  });
  function showSpinner(target){
    $('#'+target).html("<%= j render "layouts/spinner" %>");
  }
</script>

<%= content_for :head do %>
  <%= stylesheet_link_tag 'apostilas', media: 'all', 'data-turbolinks-track' => true %>
<%end%>