<p id="notice"><%= notice %></p>

<h1>Listing Apostilas</h1>

<table>
  <thead>
    <tr>
      <th>Display</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @apostilas.each do |apostila| %>
      <tr>
        <td><%= apostila.display%></td>
        <td><%= link_to 'Show', apostila %></td>
        <td><%= link_to 'Edit', edit_apostila_path(apostila) %></td>
        <td><%= link_to 'Destroy', apostila, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Apostila', new_apostila_path %>
