//atuliza a questão ativa no cartão resposta
$('tr').removeClass('active');
$('#q_<%=@indice%>').addClass('active');

//esconde o dimmer
$('.dimmer.questao').dimmer('hide');

//esconde o cartao_resposta
$('#cartao_resposta').hide();

//renderiza a pagina
$('#frame').html('<%= j render @pagina%>');

//Atualiza os links do menu superior
$('#proxima').attr("href", "<%=@proxima%>");
$('#anterior').attr("href", "<%=@anterior%>");

//Atualiza contador
<%if @indice.to_i > 0%>
$('#contador').html("<%="Questão #{@indice} de #{@apostila.questoes.count}"%>");
<%else%>
$('#contador').html("<%="#{@indice}"%>");
<%end%>

//renderiza as formulas na questão
MathJax.Hub.Queue(["Typeset",MathJax.Hub, "frame"]);


