<p id="notice"><%= notice %></p>

<div class="ui main container">
  
  <h1>Resumo da apostila</h1>
  
  <p><strong>Nome:</strong> <%=@apostila.nome%></p>
  <p><strong>Descrição:</strong> <%=@apostila.descricao%></p>
  <p><strong>Display:</strong> <%=@apostila.display%></p>
  <p><strong>Curso:</strong> <%=@apostila.curso.display%></p>
  <p><strong>Materias:</strong> 
    <%@apostila.materias.each do |m|%>
      <%=m%>
    <%end%>
  </p>
  <p><strong>Assuntos:</strong> 
    <%@apostila.assuntos.each do |a|%>
      <%=a%>,
    <%end%>
  </p>
  
  <hr></hr>
  
  <h3>Lista de questões</h3>
  <table class="ui celled padded table">
    <thead>
      <tr><th>Identificador</th>
      <th>Enunciado</th>
      <th>Gabarito</th>
      <th>Link</th>
    </tr></thead>
    <tbody>
      <%@questoes.each do |q|%>
        <tr>
          <td><%=q.identificador%></td>
          <td><%=q.texto_auxiliar[0..100].html_safe+"..."%></td>
          <td id="<%=q.id%>">
            <span id='gb-<%=q.id%>'><%=q.gabarito%></span>
            <div class="ui editor hidden" questao="<%=q.id%>">  
              <select class="ui small dropdown">
                <option value="">-</option>
                <option value="a">a</option>
                <option value="b">b</option>
                <option value="c">c</option>
                <option value="d">d</option>
                <option value="e">e</option>
              </select>
              <a href="/questao/define_gabarito//" class="ui teal tiny button salvar" data-remote=true>Salvar</a>
            </div>
          </td>
          <td><%= link_to 'Edit', edit_questao_path(q) %></td>
        </tr>
      <%end%>
    </tbody>
  </table>

    

</div>

<%= link_to 'Edit', edit_apostila_path(@apostila) %> |
<%= link_to 'Back', apostilas_path %>

<script>
      $("td").click(function (e) {
       var qui = e.target.id;

        $('.hidden').hide();
        $('.ativo').removeClass('ativo');
        
        editor = $(this).find('.hidden');
        editor.show();
        editor.addClass('ativo');
      });
      
      $('.dropdown').change(function(){
        var editor = $('.ativo');
        var gb = $('.ativo').find('.dropdown').val();
        var questao = editor.attr('questao');
        var href = "/questao/define_gabarito/"+questao+"/"+gb+"/"
        
        editor.find('a').attr('href', href);
      });
  
   $(document).ready(function(){
     $('.hidden').hide();
   });
</script>
