<%= simple_form_for(@curso) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nome %>
    <%= f.input :display %>
    <%= f.input :descricao %>
    <%= f.input :concurso, as: :trix_editor %>
    <%= f.input :materias, as: :check_boxes,:collection => @materias%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<script>
  $(document).ready(function(){
    <%@curso.materias.each do |m|%>
      $('input[value="<%=m%>"]').prop('checked', true);
    <%end%>
  });
</script>
