<p id="notice"><%= notice %></p>

<h1>Listing Cursos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Display</th>
      <th>Descricao</th>
      <th>Concurso</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cursos.each do |curso| %>
      <tr>
        <td><%= curso.nome %></td>
        <td><%= curso.display %></td>
        <td><%= curso.descricao %></td>
        <td><%= curso.concurso %></td>
        <td><%= link_to 'Show', curso %></td>
        <td><%= link_to 'Edit', edit_curso_path(curso) %></td>
        <td><%= link_to 'Destroy', curso, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Curso', new_curso_path %>
