<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @curso.nome %>
</p>

<p>
  <strong>Display:</strong>
  <%= @curso.display %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @curso.descricao %>
</p>

<p>
  <strong>Concurso:</strong>
  <%= @curso.concurso %>
</p>

<p>
  <%@curso.materias.each do |m|%>
    <%=m.display%>
  <%end%>
</p>

<%= link_to 'Edit', edit_curso_path(@curso) %> |
<%= link_to 'Back', cursos_path %>
