<div id="menu_graficos" class="ui bottom attached tabular menu">
  <a class="active item">
    Active Project
  </a>
  <a class="item">
    Project #2
  </a>
  <a class="item">
    Project #3
  </a>
  <div class="right menu">
    <a class="item">
      <i class="add icon"></i> New Tab
    </a>
  </div>
</div>