<div class="ui main grid container">
  <div class="row">
    <div class="ui container">
      <h1 class="ui blue header principal" style="font-family: 'Poppins', sans-serif;">Banco de Questões</h1>
      <div class="ui divider"></div>
    </div>
  </div>
  <div class="row">
    <div class="column">
      
      <a class="ui tiny button" id="btn_filtros" onclick="esconde_filtros()"><i class="filter icon"></i>Filtros</a>
      <%if @filtros_aplicados.size > 0%>
         <div class="ui horizontal list">
          <%@filtros_aplicados.each do |f|%>
            <span class="item">
              <div class="ui tiny label">
                <i class="filter icon"></i>
                <%=f%>
              </div>
            </span> 
          <%end%>
          <a class="item" href="/banco_de_questoes/"><small>(Limpar filtros)</small></a>
        </div>
        
      <%end%>
      
      <div class="ui segment" id="filtros">
        <div class="ui grid">
          
          <div class="three wide column">
            <h5 class="header">Bloco</h5>
            <select class="ui search fluid dropdown" multiple="" id="dropdown_bloco">
              <option value="">Todos</option>
              <%@materias.each do |m|%>
                <option value="<%=m.nome%>"><%=m.display%></option>
              <%end%>
            </select>
          </div>
          
          <div class="four wide column">
            <h5 class="header">Assunto</h5>
            <select class="ui search fluid dropdown" multiple="" id="dropdown_assunto">
              <option value="">Todos</option>
              <%@assuntos.each do |a|%>
                <option value="<%=a.nome%>"><%=a.display%></option>
              <%end%>
            </select>
          </div>
          
          <div class="three wide column">
              <div class="ui form" id="form_atividade">
                <div class="grouped fields">
                  <label>Minha atividade</label>
                  <div class="pointable field">
                    <div class="ui toggle checkbox">
                      <input id="radio_todas"  type="radio" name="throughput" value="" checked="checked">
                      <label for="radio_todas">Todas</label>
                    </div>
                  </div>
                  <div class="field">
                    <div class="ui toggle checkbox">
                      <input id="radio_respondidas" type="radio" name="throughput" value="respondidas">
                      <label for="radio_respondidas">Respondidas</label>
                    </div>
                  </div>
                  <div class="field">
                    <div class="ui toggle checkbox">
                      <input id="radio_nao_respondidas" type="radio" name="throughput" value="nao_respondidas">
                      <label for="radio_nao_respondidas">Não respondidas</label>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          
        </div><!--Fim do grid-->
        <div class="ui grid">
          <div class="column">
            <a class="ui black button" id="btn_filtrar" onclick="filtrar()">Filtrar</a>
          </div>
        </div>
      </div>
      
    </div>
  </div><!--Fim dos filtros-->
  <div class="content row">
    
    
    <div class="ui column">
      <p class="small" style="color: grey"><%=@questoes.size%> Questão(ões) encontrada(s):</p>
      
      <%if @questoes.size > 0%>

        <% i = 0 %>
        <%@questoes.each do |q|%>
          <%@questao = q%>
          <%@resposta = @respostas[i]%>
          <div class="ui segment frame">
            <%= render 'questoes/show'%>
          </div>
          <%i += 1%>
        <%end%>


      <%end%>
      
    </div>
  </div>
  
</div>

<%= content_for :head do %>
  <%= stylesheet_link_tag 'lista', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<%end%>
