<div class="ui inverted vertical masthead center aligned segment" id= "header_materia">
  <div class="ui grid container">
    <div class="row">
      <div class="two wide column"></div>
      <div class="twelve wide column">
        <h2 class="ui inverted header">
          <i class="<%="circular inverted #{@materia.cor} #{@materia.icone} icon"%>"></i>
          <div class="content">
            <%=@materia.display%>
          </div>
        </h2>
      </div>
    </div>
  </div>
</div>

<div class="ui vertically divided grid container" >

  <!---Segmentos de questões--->
  <div class="row">
    <div class="two wide column"></div>
    
    <div class="three wide centered column">
      <h3>Todas as questões</h3>
    
      <a class="ui labeled button proxima" href="questoes_por_materia/<%=@materia.nome%>" data-remote = true>
        <div class="ui black button">
          Exibir
        </div>
        <div class="ui basic grey left pointing label">
          <%= @todas %>
        </div>
      </a>
    </div>
    
    <div class="three wide centered column">
      <h3>Não respondi</h3>
      
        <a class="ui labeled button proxima" href="/nao_respondidas/<%=@materia.nome%>" data-remote = true>
          <div class="ui black button">
            Exibir
          </div>
          <div class="ui basic blue left pointing label">
            <%= @nao_respondidas %>
          </div>
        </a>
    </div>
    
    <div class="three wide centered column">
      <h3>Acertei</h3>
      
        <a class="ui labeled button proxima" href="/certas/<%=@materia.nome%>" data-remote = true>
          <div class="ui black button">
            Exibir
          </div>
          <div class="ui basic green left pointing label">
            <%= @certas %>
          </div>
        </a>
    </div>
    
    <div class="three wide centered column">
      <h3>Ainda não acertei</h3>
      
        <a class="ui labeled button proxima" href="/erradas/<%=@materia.nome%>" data-remote = true>
          <div class="ui black button">
            Exibir
          </div>
          <div class="ui basic red left pointing label">
            <%= @erradas %>
          </div>
        </a>
    </div>
  
  </div>

  <!---Área principal--->
  <div class="row">  
    <div class="two wide column"></div>
      
    <div class="twelve wide column">
      
      <h3 id="tabela_ativa">Todas as questões</h3>
      <div class="ui cards" id="lista_de_questoes">
        <%= render partial:"questoes/questoes", locals:{questoes: @questoes} %>
      </div>
    </div>
  </div>
    
</div>

<%= content_for :head do %>
  <%= stylesheet_link_tag 'disciplina', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'painel', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
<%end%>

<script>
  $( ".proxima" ).click(function() {
    $('#lista_de_questoes').html('<i class="big spinner loading icon"></i>');
  });
</script>