<div class="ui basic modal">
  <h1 class="header"><%=flash[:success]%></h1>
</div>
  
<div class="ui main grid container" >
  <%= exibe_header "Plano de estudo", "plano", [] %>
  
  <div class="content row">
    <div class="ui column grid">
      <div class="row">
        <div id="coluna_sugestões" class="six wide column">
          <%= card_sugestao "Mandando bem", @mandando_bem%>
          <%= card_sugestao "Preciso melhorar", @melhorar%>
          <%= card_sugestao "Não posso esquecer", @revisar%>
        </div>
        <div id="placeholder" class="ten wide column">
          <h3 class="ui header">Desempenho</h3>
          <div class="row">
            <%= line_chart(
              [{name: "Questões respondidas", data: @array}], 
              legend: false,
              library: { 
                animation: { easing: 'easeOutQuad' },
                title: { 
                  display: true,
                  text: 'Questões respondidas'
                }
              } 
            )%>
            <%= render 'graficos'%>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<%= content_for :head do %>
  <%= stylesheet_link_tag 'painel', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
<%end%>

<%if flash[:success].present?%>
  <script>
    $('.ui.basic.modal')
      .modal('show')
    ;
  </script>
<%end%>
