<div class="ui main grid container" >
  <!--- Row Listas --->
  <div class="row">
    <div class="two wide column">
    </div>
    <div class="twelve wide column">
      
      <div class="ui secondary pointing menu">
        <a href="/painel/sugestoes" class="green aba item" id="sugestoes" data-remote=true>
          Sugestões
        </a>
        <a href="/painel/novas" class="blue aba item" id="novas" data-remote=true>
          Listas de Exercícios
        </a>
        <a href="/painel/desempenho" class="red aba item" id="desempenho" data-remote=true>
          <i class="user icon"></i> Meu Desempenho
        </a>
      </div>
      
      <div class="fourteen wide column" id="conteudo_principal">
        
      </div>
    </div>
    <div class="two wide column"></div>
  </div>
</div>

<%= content_for :head do %>
  <%= stylesheet_link_tag 'painel', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
<%end%>

<script>
  $('.aba').click(function(){
      var ht = "<div class='ui active centered inline loader'></div>";
      $('#conteudo_principal').html(ht);
  });
  
  $('#sugestoes').click(function(){
      
  });
</script>