$vermelho: rgb(224, 61, 61);
$cinza: rgb(222,222,222);

@mixin box-shadow() {
  -webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.2);
}


.sugestao{
  background: rgb(224, 61, 61);
  padding-left: 2em;
  padding-top: 0.1em;
  padding-bottom: 0.5em;
  margin-top: 0 !important;
  margin-bottom: 0.1em !important;
  @include box-shadow();
}

.ui.items {
  .item{
    margin-bottom: 0.2em;
    
    .header{
      font-size: 1.2em !important;
    }
    .image{
      width: 100px;
      height: 100px;
    }
    .content{
      line-height: 1.1em !important;
    }
    .meta{
      margin-top: 0.25em;
    }
    .description p, .meta{
      color: $cinza;
    }
  }
}

.extra{
  margin-top: 0.5em;
}
.extra .button{
  background: white;
  border: 2px solid white !important;
  color: $vermelho;
  border-radius: 0px !important;
  font-weight: bold;
  font-size: 1em !important;
  padding: 0.7em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}
.extra .white.ghost.button{
  &:hover{
    color: $vermelho !important;
  }
  color: white !important;
  box-shadow: none;
}

h3 {
  margin-top: 0.3em !important;
}

.ui.mandando.bem.header u {
  text-decoration: none;
  border-bottom: 5px solid black !important;
  border-color: rgb(222, 222, 222) !important;
}

#placeholder{
  .column{
    margin: 0;
  }
}

.content.row .row{
  padding-top: 0;
}

canvas {
  //@include box-shadow();
  margin-bottom: 1em;
  border: 1px solid rgb(222, 222, 222);
  border-bottom: none;
}

#menu_graficos {
  
  .item{
    color: $vermelho;
  }
}