<%= simple_form_for(@resposta_fs) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	<%= f.input :user_id %>
  	<%= f.input :flashcard_id %>
  	<%= f.input :deck_id %>
  	<%= f.input :desempenho %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
