<p id="notice"><%= notice %></p>

<h1>Listing Respostas Fs</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @respostas_fs.each do |resposta_fs| %>
      <tr>
        <td><%= link_to 'Show', resposta_fs %></td>
        <td><%= link_to 'Edit', edit_resposta_fs_path(resposta_fs) %></td>
        <td><%= link_to 'Destroy', resposta_fs, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resposta fs', new_resposta_fs_path %>
