<p id="notice"><%= notice %></p>

<h1>Listing Cartoes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cartoes.each do |cartao| %>
      <tr>
        <td><%= link_to 'Show', cartao %></td>
        <td><%= link_to 'Edit', edit_cartao_path(cartao) %></td>
        <td><%= link_to 'Destroy', cartao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cartao', new_cartao_path %>
