<%= simple_form_for(@estudo) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :inicio %>
    <%= f.input :fim %>
    <%= f.input :assuntos %>
    <%= f.input :pagina_inicio %>
    <%= f.input :pagina_fim %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
