<div class="ui main container">
  <p id="notice"><%= notice %></p>
  
  <h1>Listing Estudos</h1>
  
  <table>
    <thead>
      <tr>
        <th>Inicio</th>
        <th>Fim</th>
        <th>Assuntos</th>
        <th>Pagina inicio</th>
        <th>Pagina fim</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @estudos.each do |estudo| %>
        <tr>
          <td><%= estudo.inicio %></td>
          <td><%= estudo.fim %></td>
          <td><%= estudo.assuntos %></td>
          <td><%= estudo.pagina_inicio %></td>
          <td><%= estudo.pagina_fim %></td>
          <td><%= link_to 'Show', estudo %></td>
          <td><%= link_to 'Edit', edit_estudo_path(estudo) %></td>
          <td><%= link_to 'Destroy', estudo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <br>
  
  <%= link_to 'New Estudo', new_estudo_path %>
</div>