<p id="notice"><%= notice %></p>

<p>
  <strong>Inicio:</strong>
  <%= @estudo.inicio %>
</p>

<p>
  <strong>Fim:</strong>
  <%= @estudo.fim %>
</p>

<p>
  <strong>Assuntos:</strong>
  <%= @estudo.assuntos %>
</p>

<p>
  <strong>Pagina inicio:</strong>
  <%= @estudo.pagina_inicio %>
</p>

<p>
  <strong>Pagina fim:</strong>
  <%= @estudo.pagina_fim %>
</p>

<%= link_to 'Edit', edit_estudo_path(@estudo) %> |
<%= link_to 'Back', estudos_path %>
