<p id="notice"><%= notice %></p>

<h1>Listing Concursos</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Display</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @concursos.each do |concurso| %>
      <tr>
        <td><%= concurso.titulo %></td>
        <td><%= concurso.display %></td>
        <td><%= link_to 'Show', concurso %></td>
        <td><%= link_to 'Edit', edit_concurso_path(concurso) %></td>
        <td><%= link_to 'Destroy', concurso, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Concurso', new_concurso_path %>
