<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @concurso.titulo %>
</p>

<p>
  <strong>Display:</strong>
  <%= @concurso.display %>
</p>

<%= link_to 'Edit', edit_concurso_path(@concurso) %> |
<%= link_to 'Back', concursos_path %>
