<h2>Compra concluída com sucesso!</h2>

<p>Agora você pode aproveitar todas as funcionalidades do Tática Certa</p>
<p>Código da transação: <%=@code%></p>
<p>Status da transação: <%=current_user.status%></p>