<div id="menu" class="ui top fixed">
    <div class="ui container">  
      <img src="/assets/Logo.png"></img>
      <a href="/login" class="ui right floated primary button">Entrar</a>
    </div>
</div>

<div class="ui main container">
  <a href="<%=@endpoint%>">Assinar Sandbox</a>
  <%=render "layouts/marktex_editor"%>
</div>