<div id="menu" class="ui top fixed">
    <div class="ui container">  
      <img src="/assets/Logo.png"></img>
      <a href="/login" class="ui right floated primary button">Entrar</a>
    </div>
</div>

<div class="ui main container">
    <h1 class="ui teal header">Blog Tática Certa</h1>
    <div class="ui section divider"></div>
    <h3 class="ui teal header"><%=@post.titulo%></h3>
    
    <div class="ui secondary basic segment">
      <img class="ui centered large image" src="<%= @post.capa.image_url %>">
    </div>
    
    <div class="ui text container">
      <%=@post.texto.markdown_to_html%>
    </div>
    
</div>

<script>
$(document).ready(function(){
  $('.ui.modal')
    .modal('show');
  ;
})  
  
</script>

<%= content_for :head do %>
  <%= stylesheet_link_tag 'blog', media: 'all', 'data-turbolinks-track' => true %>
<%end%>