// Place all the styles related to the apostilas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$cinza_escuro: rgb(35,41,47);
$cinza_claro: rgb(103,106,109);
$teal: rgb(0,181,173);
$teal_hover: rgb(0,141,135);
$vermelho: rgb(224,61,61);

#lista_taticas{
  width: 100%;
  
  .title .header{
    color: darkgrey;
    font-size: 1.2em;
  
    &:hover{color: $vermelho;}
  }

  .content{
    padding-bottom: 0.5em;
    background: $vermelho;
    color: white !important;

    .basic.segment{
      padding: 0;
      min-height: 3em;
    }

    .labels{
      margin-top: 1em;
      margin-bottom: 0;
    }

    .label::after{
      background: $vermelho !important;
    }
  }
  
  .active{
    color: white !important;
    background: $vermelho;

    .header{
      color: white;
      
      &:hover{color: white}
    }
  }
}

.item.button{
  background: rgba(0,0,0,0);
  border: 2px solid white;
  border-radius: 0px;
  color: white;
  padding-top: 0.5em;
  padding-bottom: 0.5em;

  &:hover{
    background: white !important;
    color: teal !important;
    transition: 0.2s;
  }
}