/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require trix
 */

.hidden{
    visibility: hidden;
    height: 0px;
}

.menu_username{
    margin-left: 5px;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Noto Sans';
}

@mixin icon_general_style() {
    background-position: center center;
    background-repeat: no-repeat;
    width: 1.8em !important;
    height: 1.8em !important;
    margin-bottom: 0!important;
}

#sidebar_menu > .item > .material.icon{
    background-image: url("https://s3-us-west-2.amazonaws.com/taticacerta/check-list.svg");
    background-size: 100% 100%;
    @include icon_general_style();
}
#sidebar_menu > .item > .plano.icon{
    background-image: url("https://image.flaticon.com/icons/svg/196/196181.svg");
    @include icon_general_style();
}
#sidebar_menu > .item > .prova.icon{
    background-image: url("https://image.flaticon.com/icons/svg/235/235852.svg");
    @include icon_general_style();

}
#sidebar_menu > .item > .analises.icon{
background-image: url("https://image.flaticon.com/icons/svg/167/167486.svg");
    @include icon_general_style();

}

.mandando.bem.header{
    color: rgb(255, 255, 255) !important;
    
    u {
        border-color: rgb(225, 255, 255) !important;
    }
}

.preciso.melhorar.header{
    color: rgb(59,147,168) !important;
    u {
        border-color: rgb(59,147,168) !important;
    }
}

.estou.esquecendo.header{
    color: rgb(177,226,59) !important;
    u {
        border-color: rgb(177,226,59) !important;
    }
}

.sombra{
    -webkit-box-shadow: 1px 1px 4px 1px rgba(145,145,145,0.49);
    -moz-box-shadow: 1px 1px 4px 1px rgba(145,145,145,0.49);
    box-shadow: 1px 1px 4px 1px rgba(145,145,145,0.49);
}