// Place all the styles related to the assuntos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$cinza_escuro: rgb(35,41,47);
$cinza_claro: rgb(103,106,109);
$teal: rgb(0,181,173);
$teal_hover: rgb(0,141,135);
$vermelho: rgb(224,61,61);

#menu_assuntos{
    //height: 60vh;
    overflow-y: scroll;
    background: #ffffff;
}

#menu_assuntos .title a{
  color: $teal;
  font-size: 1em;
  
  &:hover{
    color: $teal_hover;
  }
}

#menu_assuntos .active{
  background: $cinza_escuro;//rgb(224,61,61);
  
  a, .header{
    color: white;
    &:hover{
      color: white; // Para evitar que o estilo do titulo padrão seja executado
    }
  }

  .item{
    color: $cinza_claro;//white;
    
    &:hover{
      color: white;  
    }
  }
}

#menu_filtros{
  border-bottom: 1px solid rgb(200, 200, 200);

  .header{
    font-size: 1.2em;
  }
}

#lista_taticas{
  .card{

    .header{
      font-size: 1.1em;
    }
  }
}


#menu_assuntos::-webkit-scrollbar-track
{
	background-color: rgba(0,0,0, .1);
	border-radius: 10px;
}
#menu_assuntos::-webkit-scrollbar
{
	width: 6px;
}
#menu_assuntos::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: rgba(33,133,208, .6);
}
#menu_assuntos::-webkit-scrollbar-thumb:hover
{
	border-radius: 10px;
	background-color: rgba(33,133,208, .8);
}