// Place all the styles related to the blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#menu{
  height: 56px;
  background: rgb(250, 250, 250);
  padding-top: 2px;
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

#menu .ui.button{
  margin-top: 10px;
}

.main{
  margin-top: 112px;
  padding-bottom: 100px;
}

.ui.items{
  margin-top: 48px;
}

.ui.footer { /* Increased specificity for SO snippet priority */
  position: fixed;
  bottom: 0;
  width: 100%;
}