h4, h3{
    padding-top: 20px;
}

#proxima{
    padding-top: 30px;
}

#header_materia{
    font-family: 'Poppins', sans-serif;
    margin-top: 45px;
    color: rgb(200,200,200);
}

.masthead.segment{
  min-height: 100px;
  padding: 1em 0em;
}
