// Place all the styles related to the flashcards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.slide {
	top: -1000px;
	left: -2000px;
	position: absolute;
}

.slide.slide--current {
  display: block;
  top: 0;
  left: 0;
  position: relative;
}

.ui.row.escondido{
	display: none;
}

.ui.menu .item.escondido{
	display: none;	
}

#side_segment{
	background: rgb(37,39,49);
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
	width: 100%;
	cursor: pointer;
	font-size: 3em;
	//prevent selection
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
	/* flip the pane when hovered */
.flip-container.flip .flipper {
	transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 100%;
	height: 400px;
}

/* flip speed goes here */
.flipper {
	transition: 0.3s;
	transform-style: preserve-3d;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgb(233,92,83);//rgb(252,255,216);
	color: white;
	line-height: 400px;
	text-align: center;
	overflow-y: auto;
	p{
	  display: inline-block;
	  vertical-align: middle;
	  line-height: normal;
	}
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

#row_deck_menu {
	padding-top: 0;
	
	.menu{
		min-height: 4em;
	}
}