@mixin sombra() {
  -webkit-box-shadow: 1px 1px 4px 1px rgba(145,145,145,0.49);
  -moz-box-shadow: 1px 1px 4px 1px rgba(145,145,145,0.49);
  box-shadow: 1px 1px 4px 1px rgba(145,145,145,0.49);
}

body {
  background: rgb(245, 245, 245);
}

#main_menu{
  background: white;
  border-bottom: 1px solid rgb(233, 233, 233);
  height: 3.5em;
  -webkit-box-shadow: 0px 3px 2px -2px rgba(200,200,200,0.2);
  -moz-box-shadow: 0px 3px 2px -2px rgba(200,200,200,0.2);
  box-shadow: 0px 3px 2px -2px rgba(200,200,200,0.2);

  .right.menu .item{
    padding-bottom: 0.7em;
  }

  #user_item{
    padding-left: 0.5em;
    img{
      margin-right: 0.5em;
    }
  }

  .item .header{
    font-size: 1em;
    &:hover{
      color: rgb(0,141,135);
    }
  }

  .item .description{
    margin-top: 0;
  }

  #notification{
    width: 16px;
    height: 16px;
    background: black;
    border-radius: 100%;
    color: white;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    position: relative;
    top: 8px;
    font-family: 'Roboto';
    font-weight: bold;
    margin-right: 0.25em;
    margin-left: -1.2em;
  }

  #upgrade_item{
    background: rgb(111,193,173) !important;
    margin-bottom: 0.4em;
    color: white;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 10px;
    font-weight: bold;
  }
}

#logo{
  padding-bottom: .7em;
  padding-top: .3em;
  img{
    height: 2.5em;
    width: auto;
  }
}

.main.container {
  margin-top: 5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  border-radius: 2px;
  background-color: white;
  margin-bottom: 2em;
  @include sombra();
}

.ui.header.principal{
  color: rgb(5, 60, 78) !important;
}

.turbolinks-progress-bar {
  background-color: rgb(111,193,173);
  //-webkit-box-shadow: 0px 4px 10px 1px rgba(32,99,140,0.62);
  //-moz-box-shadow: 0px 4px 10px 1px rgba(32,99,140,0.62);
  //box-shadow: 0px 4px 10px 1px rgba(32,99,140,0.62);
}

@font-face {
    font-family: 'Noto Sans';
    src: url('https://fonts.googleapis.com/css?family=Noto+Sans');
}

/*
.main::-webkit-scrollbar-track
{
	background-color: rgba(0,0,0, .05);
	border-radius: 10px;
}
  
.main::-webkit-scrollbar
{
	width: 6px;
}

.main::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: rgba(0,0,0, .2);
}
.main::-webkit-scrollbar-thumb:hover
{
	border-radius: 10px;
	background-color: rgba(33,133,208, .8);
}*/

//Spinner - https://boguz.github.io/Spinners/
  $size: 40px;

   .mul8 {
      height: $size;
      width: $size;
      margin: 0 auto;
   } 
     
   .mul8circ1 {
      height: $size;
      width: $size;
      border-radius: 50%;
      border: 5px solid #76cbad;
      border-bottom-color: rgba(0,0,0,0);
      border-top-color: rgba(0,0,0,0);
      -webkit-animation: mul8circ1Anim 2s infinite linear;
      animation: mul8circ1Anim 2s infinite linear;
      position: absolute;
   } 
     
   .mul8circ2 {
      height: $size;
      width: $size;
      border-radius: 50%;
      border: 5px solid #127961;
      border-bottom-color: rgba(0,0,0,0);
      border-top-color: rgba(0,0,0,0);
      -webkit-animation: mul8circ2Anim 2.5s infinite linear;
      animation: mul8circ2Anim 2.5s infinite linear;
      position: absolute;
   }
      
   @-webkit-keyframes mul8circ1Anim {
      0% {
         -webkit-transform: rotate(0deg);
         transform: rotate(0deg);
      }
      100% {
         -webkit-transform: rotate(360deg);
         transform: rotate(360deg);
      }
   }  
    
   @keyframes mul8circ1Anim {
      0% {
         -webkit-transform: rotate(0deg);
         transform: rotate(0deg);
      }
      100% {
         -webkit-transform: rotate(360deg);
         transform: rotate(360deg);
      }
   } 
     
   @-webkit-keyframes mul8circ2Anim {
      0% {
         -webkit-transform: rotate(0deg);
         transform: rotate(0deg);
      }
      100% {
         -webkit-transform: rotate(360deg);
         transform: rotate(360deg);
      }
   } 
     
   @keyframes mul8circ2Anim {
      0% {
         -webkit-transform: rotate(0deg);
         transform: rotate(0deg);
      }
      100% {
         -webkit-transform: rotate(360deg);
         transform: rotate(360deg);
      }
   }