/*
Reference:
http://www.bootstrapzen.com/item/135/simple-login-form-logo/
*/

body {
    background-color: rgb(221, 138, 61); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login-form {
	margin-top: 100px;
	text-align: center;
	height: 500px;
}    

form[role=login] {
	background: #f2f2f2;
	padding: 26px;
}
	form[role=login] img {
		display: block;
		margin: 0 auto;
		margin-bottom: 30px;
	}
	form[role=login] input,
	form[role=login] button {
		font-size: 18px;
		margin: 16px 0;
	}
	form[role=login] > div {
		text-align: center;
		margin-bottom: 30px;
	}
	
.form-links {
	text-align: center;
	margin-top: 1em;
}
	.form-links a {
		color: #fff;
	}