#menu{
  height: 56px;
  background: rgb(250, 250, 250);
  padding-top: 2px;
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
    
    #menu .ui.button{
      margin-top: 10px;
    }
    
    .masthead.segment {
      margin-top: 56px;
      height: 500px;
      padding: 6em 0em;
    }
    .masthead .logo.item img {
      margin-right: 1em;
    }
    .masthead .ui.menu .ui.button {
      margin-left: 0.5em;
    }
    .masthead h1.ui.header {
      margin-bottom: 0em;
      font-size: 4em;
      font-weight: normal;
    }
    .masthead h2 {
      font-size: 1.7em;
      font-weight: normal;
    }

    .footer.segment {
      padding: 2em 0em;
    }

    .secondary.pointing.menu .toc.item {
      display: none;
    }

    @media only screen and (max-width: 700px) {
      .ui.fixed.menu {
        display: none !important;
      }
      .secondary.pointing.menu .item,
      .secondary.pointing.menu .menu {
        display: none;
      }
      .secondary.pointing.menu .toc.item {
        display: block;
      }
      .masthead.segment {
        min-height: 350px;
      }
      .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
      }
      .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
      }
    }
    
#header---{
  background: url('/assets/header.jpg') no-repeat fixed center;
  background-size: 100%;
  top: 56px;
}

#header{
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100%;
  top: 56px;
}

#margem_inicial{
  margin-top: 150px;
}

.bloco{
  font-size: 1.5em;
  visibility: hidden;
  height: 375px;
  padding-top: 75px;
  
  img{
    
  }
  
}

.bloco.ultimo{
  height: 300px;
}

.footer{
  margin-top: 100px;
  padding-top: 20px; 
  
  .grey{
    color: grey;
  }
}

#logo_texto{
  font-family: 'zwodrei';
  font-size: 28px;
  color: #2980B9;
  position:relative;
  top: -12px;
}

@font-face {
    font-family: 'zwodrei';
    src: url('/assets/zwodrei_bold_demo.ttf');
}