$vermelho: rgb(224, 61, 61);
$cinza: rgb(222,222,222);

@mixin box-shadow() {
  -webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.2);
}


.ui.divider.semana{
  margin: 0 !important;
}

.star.icon{
  position: relative;
  top: -3px;
}