// Place all the styles related to the questoes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/[type="radio"]
h2{
    padding-top: 0px;
    margin-top: 0px;
}

.grouped .fields{
    width: 300px;
}

.res{
    color: rgba(0,0,0, .9);
}

label{
    color: rgba(0,0,0, .5);
}


.collection_radio_buttons{
    color: (0,0,0, .9);
    font-size: 15px;
}

.ui.tiny.message {
    margin-top: 25px;
    margin-bottom: 25px;
}

#alternativas label{
    margin: 5px;
    font-size: 15px !important;
    vertical-align: middle;
}


#frame{
    padding: 10px;
    min-height: 70vh;
    font-family: 'Lato', sans-serif;
    font-size: 15px !important;
    text-align: justify;
    h3{
        color: #3b3e40;
    }
}

.area.principal{
    padding: 10px;
}

.form-actions.resposta{
  padding-top: 10px;
}

.alert.resposta{
  display: inline;
}

//O Padding da main_column é removido via js para não bugar as outras páginas
#menu_apostila{
    width: 100%;
    height: 4em;
    padding: 0;
    border-bottom: 1px solid rgb(200, 200, 200);
    
    .item {
        float: left;
        padding-top: 1.5em;
        width: 20%;
        height: 100%;
        margin:0;  
        text-align:center;
    
        a, #contador{
            color: #3b3e40;
            font-weight: bold;
            cursor: pointer;
            
            &:hover{
                color: rgb(224,61,61);
                font-weight: bold;
            }
        }
    }
    
}

.resolucao{
    display: none;
}

#cartao_resposta{
  #botao_finaliza{
    border-radius: 0;
    margin-top: 0.5em;
    border: 2px solid black;//rgb(224,61,61);
    background: white;
    color: black;//rgb(224,61,61);
    
    -webkit-transition: .2s; /* Safari */
    transition: .2s;
    
    &:hover{
      background: black;//rgb(224,61,61);
      color: white;
    }
    
  }
}

#detalhes_da_lista{
  //background: rgb(35,41,47);
  
  
  h4{
    margin-bottom: 0;
  }
}

.ui.table{
  thead{
    tr, th{
      background: rgb(35,41,47);
      color: white;
    }
  }
}