// Place all the styles related to the redacao controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.sidebar{
    background: rgba(0,0,0, .87);
    height: 100vh;
    padding: 6px;
    position: fixed;
}

.main{
    margin-top: 50px;
}
