.sidebar .divider{
  border-top: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5) !important;
  margin-top: 0em !important;
  margin-bottom: 0em !important;
  width: 100%;
}

#sidebar_column{
  padding-right: 0;
}

//sidebar
.sidebar{
    background: rgb(31,36,45);//rgb(64, 78, 92)
    margin-bottom: 0;
    height: 100%;
    display:block;
}

.sidebar .header{
  margin-top: 0.5em;
  margin-bottom: 1em;
  text-align: center;
  color: white;
}

#sidebar_menu{
  padding-top: 2em;
  padding-left: 1em;
  
  .item{
    text-align: center;
    font-size: 12px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    i{
      margin: 0 auto !important;
    }
  }
  .item.active{
      background: rgb(27,32,39)!important;
  }
}
