<%= simple_form_for(@deck) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
    <%= f.input :titulo %>
    <%= f.input :descricao %>
    <%= f.input :assunto_id, collection: @assuntos %>
    <%= f.input :topicos, collection: @topicos, label_method: :to_label, warpper_html: { class: 'input' },
        as: :check_boxes%>
    <%= f.button :submit %>
  </div>
<% end %>

<% if !@deck.new_record? %>
	<div class="ui segment">
		<h3>Flashcards</h3>
		<%=exibe_flashcards @deck.flashcards %>

		<div class="ui divider"></div>
		<%= render "flashcards/form" %>
	</div>
<%end%>