<div class="ui main grid container" >
  <%= exibe_header "Flashcards", "material", [] %>

  <div class="row">
  	<div class="ui segment">
			<h3>Flashcards</h3>
			<%=exibe_flashcards @deck.flashcards %>

			<div class="ui divider"></div>
			<%= render "flashcards/form" %>
		</div>
  </div>
</div>>