<div class="ui main grid container" data-controller="slideshow" data-slideshow-index="0">

  <%= exibe_header "Flashcards", "material", [] %>
  <p id="notice"><%= notice %></p>


	<div id="row_deck" class="ui row">
		
		<div class="four wide column">
			<div id="side_segment" class="ui inverted segment">

				<div class="ui dividing inverted header">
					<div class="content">
				    <%=@deck.titulo%>
				    <div class="sub header">Criado por: <strong><%=@deck.user.name%></strong></div>
				  </div>
				</div>

				<div class="ui horizontal small inverted statistics">
				  <div class="statistic">
				    <div id="nao_acertei" class="value">
				      <%=@desempenho[:erros]%>
				    </div>
				    <div class="label">
				      Não Acertei
				    </div>
				  </div>
				  <div class="statistic">
				    <div id="acertei_com_dificuldade" class="value">
				      <%=@desempenho[:quases]%>
				    </div>
				    <div class="label">
				      Acertei com dificuldade
				    </div>
				  </div>
				  <div class="statistic">
				    <div id="acertei" class="value">
				      <%=@desempenho[:acertos]%>
				    </div>
				    <div class="label">
				      Acertei
				    </div>
				  </div>
				</div>

				<div class="ui divider"></div>

				<a class="ui fluid teal button">Finalizar</a>

			</div>

			<%if current_user.admin? %>
				<%= link_to 'Edit', edit_deck_path(@deck) %> | 
				<%= link_to 'Back', decks_path %>
			<%end%>
		</div>
		
		<div class="ten wide column" >
			<%curso = curso_atual.id.to_s%>
			<%user = current_user.id%>
			<%@resposta_por_flashcard.each do |rf|%>
				<%= render partial: "flashcards/show", locals: {flashcard: rf[:flashcard], curso: curso, 
																														resposta: rf[:resposta], user: user,
																														deck: @deck.id, cartao: @cartao.id} %>
			<%end%>
			
		</div>

	</div>

	<div id="row_deck_menu" class="ui row">
		<div class="four wide column"></div>
		<div class="ten wide column">
			<div class="ui secondary five item menu">
			  <a id="botao_anterior" class="item" data-action="slideshow#previous">
			    <i class="chevron left icon"></i>
			  </a>
			  <a class="disabled item" data-target="slideshow.virar">
			    
			  </a>
			  <a class="item" data-target="slideshow.virar" data-action="click->slideshow#flip">
			    <i class="undo icon"></i>
			  </a>			  
			  <a class="disabled item" data-target="slideshow.virar">
			    
			  </a>
			  <a class="active item escondido" data-target="slideshow.respondido" data-desemp="1" data-action="slideshow#desempenho">
					Não Acertei
			  </a>
			  <a class="item escondido" data-target="slideshow.respondido" data-desemp="2" data-action="slideshow#desempenho">
			    Acertei com dificuldade
			  </a>
			  <a class="item escondido" data-target="slideshow.respondido" data-desemp="3" data-action="slideshow#desempenho">
			    Acertei
			  </a>
			  <a id="botao_proximo" class="item" data-action="slideshow#next">
			    <i class="chevron right icon"></i>
			  </a>
			</div>
			<div id="deck_progress" class="ui teal small progress" data-target="slideshow.progress">
			  <div class="bar">
			    <div class="progress"></div>
			  </div>
			</div>
		</div>
	</div>
</div>

<%= content_for :head do %>
	<%= stylesheet_link_tag 'flashcards', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'flashcards', media: 'all', 'data-turbolinks-track' => true %>
<%end%>