<div class="three wide column">
  <div class="ui fluid link card landing-card">
    <div class="center aligned content">
      <p><%=titulo%></p>  
    </div>
    <div class="content">
      <div class="right floated">
        <i class="star icon"></i>
      </div>
        <h4 class="header">Topico <%=%></h4>      
      
    </div>
  </div>
</div>