<%= simple_form_for(@semana) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :titulo %>
    <%= f.input :inicio %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
