<div class="row">
  <h2><%=semana.titulo%></h2>
</div>

<div class="ui divider semana"></div>
<div class="row">
  
  <div class="ui sixteen column grid">
    
    <%semana.topicos.each do |t|%>
      <%=render partial: "semanas/card", locals:{titulo: t.titulo}%>
    <%end%>
    
  </div>
</div>