<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @semana.titulo %>
</p>

<p>
  <strong>Lancamento:</strong>
  <%= @semana.lancamento %>
</p>

<%= link_to 'Edit', edit_semana_path(@semana) %> |
<%= link_to 'Back', semanas_path %>
