
<div class="ui main text container">
  <%= simple_form_for(@topico) do |f| %>
    <%= f.error_notification %>
  
    <div class="form-inputs">
      <%= f.input :nome %>
      <%= f.input :indice %>
      <%= f.input :assunto, collection: @assuntos, label_method: :to_label %>
      <%= f.input :titulo %>
      <%= f.input :texto, as: :text%>
      <%= f.input :semana_id, collection: @semanas %>
      <%= f.input :exemplo, as: :trix_editor %>
      <%= f.input :testes, collection: @apostilas, label_method: :to_label, as: :check_boxes%>
    </div>
    
    <div class="ui segment">
      <div class="form-inputs">
        <h3>Exercícios</h3>
        <select class="ui search dropdown" id="sel_apostila">
          <%@apostilas.each do |a|%>
            <option value="<%=a.id%>"><%=a.display%></option>
          <%end%>
        </select>
        <a class="button" id="botao_add">Adicionar</a>
      </div>
    </div>
  
    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
<script>
  $('#sel_apostila').change(function(){
    var apos = $('#sel_apostila').val();
    $('#botao_add').attr("href", "/topicos/adiciona_apostila/"+apos+"/<%=@topico.id%>");
  });
  $(document).ready(function(){
    <%if Assunto.where(id: @topico.assunto).size > 0 %>
      $("#topico_assunto").val("<%=@topico.assunto.id%>");
    <%end%>
  });
</script>