<h3 class="ui center aligned header"><%=@topico.titulo%></h3>

<%topico = contentful.entries(content_type: "topico", 'fields.id': @topico.nome)%>
<%if topico.size > 0%>
    <div class="basic segment" id="topico" align="justify">
      <%=topico.first.conteudo.markdown_to_html%>
    </div>
<%else%>
  Conteúdo ainda não disponível
<%end%>

<%if @testes.size > 0%>

  <h4 class="ui header">Exercícios propostos</h4>

  <div class="ui list">
    <%@testes.each do |t|%>
      <a href="<%=t.link%>" class="item">
        <i class="blue book icon"></i>
        <div class="content">
          <div class="header"><%=t.display%></div>
          <div class="description"><%=t.descricao%></div>
        </div>
      </a>
    <%end%>
  </div>
<%end%>
