<div class="ui divided selection list">
  <h3>Revisar</h3>
  <%topicos.each do |topico|%>
    <div class="item">
      <div class="header">
        <i class="file text outline icon"></i>
        <a href="<%=topico[0].link%>"><%=topico[0].assunto.display%> -> <%=topico[0].titulo%></a>
      </div>
      <div class="content">
        <%if topico[2]>0 %>
          Aproveitamento: <%= ((topico[1].to_f / (topico[2]+topico[1])).round(2)*100).round(0) %>%
        <%else%>
          Aproveitamento: 100% (Parabéns!!!)
        <%end%>
      </div>
    </div>
  <%end%>
</div>