<div class="ui main container">
  <p id="notice"><%= notice %></p>
  
  <h1>Lista de Tópicos</h1>
  
  <table class="ui selectable celled compact table">
    <thead>
      <tr>
        <th>Índice</th>
        <th>Titulo</th>
        <th colspan="3">Ações</th>
      </tr>
    </thead>
  
    <tbody>
      <% @topicos.each do |topico| %>
        <tr>
          <td><%=topico.indice%></td>
          <td><%=topico.titulo%></td>
          <td><%= link_to 'Show', topico %></td>
          <td><%= link_to 'Edit', edit_topico_path(topico) %></td>
          <td><%= link_to 'Destroy', topico, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <br>
  
  <%= link_to 'New Topico', new_topico_path %>
</div>