<p id="notice"><%= notice %></p>

<div class="ui main grid container">
  <div class="row">
    <div class="column">
      <div class="ui teal header">
          <img src="/assets/conjuntos.svg"></img>
          <div class="content">
            <%= @assunto.display %> > <u><%= @topico.titulo%></u>
          </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="two wide column"></div>
    <div class="twelve wide column">
      
      <div class="row">
        <div class="ui secondary menu">
          <a class="teal item active" data-tab="first">Resumo</a>
          <a class="teal item" data-tab="second">Exemplos</a>
          <a class="teal item" data-tab="third">Exercicios</a>
          <a class="teal item" data-tab="fourth">Desempenho</a>
        </div>
      </div>
      
        <div class="ui tab segment active" data-tab="first">
          <h2 class="ui center aligned header"><%=@topico.titulo%></h2>
          <div class="ui basic segment"><%=@topico.texto.html_safe%></div>
        </div>
        
        <div class="ui tab segment" data-tab="second">
          <h2 class="ui center aligned header">Exemplos</h2>
          <div class="ui segment">

          </div>
        </div>
        
        <div class="ui tab segment" data-tab="third">
          <h2 class="ui center aligned header">Exercícios</h2>
          
          <%if @testes.size > 0%>
            <% i = 0 %>
            <%@testes.each do |q|%>
              <%@questao = q%>
              <%@resposta = @respostas[i]%>
              <div class="ui segment">
                <%= render 'questoes/show'%>
              </div>
              <%i += 1%>
            <%end%>
          <%end%>
          
        </div>
        
        <div class="ui tab segment" data-tab="fourth">
          <h2 class="ui center aligned header">Desempenho</h2>
          
        </div>
      
    </div>
    <div class="two wide column"></div>
  </div>
  
  <div class="row">

    <div class="eight wide column">
      
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_topico_path(@topico) %> |
<%= link_to 'Back', topicos_path %>

<script>
  $(document).ready(function(){
    $('.menu .item')
      .tab()
    ;
  });
</script>

<%= content_for :head do %>
  <%= stylesheet_link_tag 'questoes', media: 'all', 'data-turbolinks-track' => true %>
  
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [ ['$','$'], ["\\(","\\)"] ],
        processEscapes: true
      }
    });
  </script>
  
  <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>
<%end%>