<p id="notice"><%= notice %></p>

<div class="ui main grid container">
  
  <div class="row">
    <div class="ui container">
      <h1 class="ui blue header" style="font-family: 'Poppins', sans-serif;">
        <i class="arrow alternate outline circle left icon"></i>
        Material de Estudo
      </h1>
      <div class="ui divider"></div>
      <div class="ui breadcrumb">
        <a href="/material_de_estudo" class="section">Material de Estudo</a>
        <span class="divider">/</span>
        <a href="/material_de_estudo/<%=@assunto.nome%>" class="section"><%=@assunto.display%></a>
        <span class="divider">/</span>
        <div class="active section"><%=@topico.titulo%></div>
      </div><!--Fim do Breadcumb-->
    </div>
  </div>
  
  
  <div class="content row">
    
    <div class="four wide column">
      <div class="ui vertical secondary pointing menu">
        <div class="item">
          <b><%=@assunto.display%></b>
          <div class="menu">
            <%@assunto.topicos.each do |t|%>
              <%ativo = ""%>
              <%if t.id == @topico.id%>
                <%ativo = "active"%>
              <%end%>
              <a class="item <%=ativo%>" href="<%="/material_de_estudo/#{@assunto.nome}/#{t.nome}"%>">
                <%=t.titulo%>
              </a>
            <%end%>
          </div>
        </div>
      </div>
    </div>
    
    <div class="twelve wide column">
      <div class="ui basic segment">
        
        <h3 class="ui left aligned header">Cartões:</h3>
        <div class="ui segment">
          <%= @topico.texto%>
        </div>
        <a href="<%=edit_topico_path @topico%>/">Editar</a>
      </div>
    </div>

  </div>
</div>
  <script>
    $('.ui.rating')
      .rating('disable')
    ;
  
    loadMathJax();
    $(document).on('page:load', loadMathJax())
    
    function loadMathJax(){
      window.MathJax = null;
      $.getScript("https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML", function(){
        MathJax.Hub.Config({
          tex2jax: {
            showMathMenu: false,
            inlineMath: [ ['$','$'], ["\\(","\\)"] ],
            processEscapes: true
          }
        });
      })
      MathJax.Hub.Queue(["Typeset", MathJax.Hub])
    }
  </script>