<div class="sidebar">
    <div class="ui vertical center aligned secondary labeled fluid icon menu" id="sidebar_menu">
      <div class="ui left pointing dropdown">
        <%=image_tag(current_user.image_url, class: "ui circular image" ,id: "profile_image")%>
        <div class="menu">
          <%= link_to(logout_path, class: "item", method: :delete)  do %>
            <i class="power icon"></i>
            <span>sair</span>
          <%end%>
          <%if current_user.admin %>
            <h6 class="ui header">Funções de Admin</h6>
            <a href="https://app.contentful.com/spaces/h8r98awupeov/entries" class="red item" target="_blank">Contentful</a>
            <a href="/importa_assuntos" class="item">Importar assuntos</a>
            <a href="/importa_topicos" class="item">Importar topicos</a>
            <a href="/questoes/new" class="item">Nova questao</a>
            <a href="/apostilas/new" class="item">Nova apostila</a>
            <a href="/topicos/new" class="item">Novo Tópico</a>
            <a href="/ass/new" class="item">Novo Assunto</a>
            <h6 class="ui header">Listagens</h6>
            <a href="/questoes/" class="item">Banco de Questões</a>
          <%end%>
        </div>
      </div>
        
      </a>
      <br/>
      <br/>
      <div class="ui divider"></div>
      <br/>
      
      <a href="/plano_de_estudo" class="item" id="sidebar_painel" data-inverted="" 
                                                    data-tooltip="Painel Inicial" data-position="right center">
        <i class="plano icon"></i>
      </a>
      
      <a href="/provas_e_simulados/" class="item" id="sidebar_provas_e_simulados" data-inverted="" 
                                                    data-tooltip="Exercícios" data-position="right center">
        <i class='prova icon'></i> 
      </a>
      
      <a href="/material_de_estudo/" class="item" id="sidebar_assuntos" data-inverted="" 
                                                    data-tooltip="Banco de Táticas" data-position="right center">
        <i class='material icon'></i> 
      </a>
      

    </div>
</div>

<script>
$(document).ready(function(){
  
  $('.ui.dropdown')
    .dropdown({
      transition: 'slide down'
    })
  ;
})


</script>
