<div class="ui main container">
    <h1 class="ui teal header">Curso de redação Tática Certa</h1>
    <div class="ui section divider"></div>
    
    <div class="ui center aligned basic segment">
      <iframe width="560" height="315" 
      src="https://www.youtube.com/embed/HYUTwOfXsjw?rel=0&amp;controls=0&amp;showinfo=0" 
      frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    </div>
</div>

