<div class="ui main container">
    <h1 class="ui teal header">Módulos</h1>
    
    <div class="ui section divider"></div>
    <% posts = contentful.entries(content_type: "blogPost") %>
     <div class="ui divided items">
     
      <% posts.each do |pst| %>
        
        <div class="item">
          <div class="image">
            <img src="<%= pst.capa.image_url %>">
          </div>
          <div class="content">
            <a class="header"><%=pst.titulo%></a>
            <div class="meta">
              <span>Description</span>
            </div>
            <div class="description">
              <p></p>
            </div>
            <div class="extra">
              Additional Details
            </div>
          </div>
        </div>
        
      <%end%>
      
     </div>
</div>

