<div id="lista_taticas" class="ui four doubling link cards">
  <%assunto.each do |a|%>
    <%a.itens.each do |i|%>
      <div class="ui card">
        <div class="content">
          <%if i[:obj].user != nil%>
            <img class='ui avatar image' src="<%=i[:obj].user.image_url%>">
            <%=i[:obj].user.name%>
          <%end%>
        </div>
        <div class="image">
          <img src="https://source.unsplash.com/random/?education">
        </div>
        <div class="content"> 
          <a class="header">
            <i class="<%=i[:icone]%> middle aligned icon"></i>
            <%=i[:titulo]%>
          </a>
          <div class="meta">
            <span><%=i[:tipo]%></span>
          </div>
        </div>
      </div>
    <%end%>
  <%end%>
</div>