<%if assuntos.size > 0%>
  <%assuntos.each do |assunto|%>
    
    <div class="title">
      <a href="/material_de_estudo/<%=assunto.nome%>/" data-remote="" onclick="showSpinner('conteudo')">
        <i class="dropdown icon"></i>
        <%=assunto.display%>
      </a>
    </div>
    
    <div class="content">
      <h4 class="ui header">Tópicos</h4>
    </div>
  <%end%>
<%end%>