<div class="ui main container">
  <%= simple_form_for(@assunto) do |f| %>
    <%= f.error_notification %>
  
    <div class="form-inputs">
      <%= f.input :nome %>
      <%= f.input :display %>
      <%= f.input :indice %>
      <%= f.input :descricao, as: :trix_editor %>
      <%= f.input :materia_id, collection: @materias, label_method: :to_label, selected: :materia_id %>
    </div>
  
    <div class="form-actions">
      <%= f.button :submit %>
      <%= link_to 'Destroy', @assunto, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
</div>

<script>
  $(document).ready(function(){
    <%if @assunto.materia != nil%>
      $("#assunto_materia").val("<%=@assunto.materia.id%>");
    <%end%>
  });
</script>