<div class="ui main grid container">
  
  <%= exibe_header("Material de Estudo", "material", [])%>
  
  <div class="content row">
    <div class="ui sixteen  wide column" id="assunto">
      <div id="menu_filtros" class="ui secondary pointing menu">
        <a id="exibe_materias" class="item">
          <i class="bars icon"></i>
          Todas as matérias
        </a>
      </div>
      <div id="popup_materias" class="ui flowing popup top left transition hidden">
        <div class="ui vertical secondary menu">
          <%@materias.each do |m|%>
            <%m.assuntos.each do |a|%>
              <a href="/material_de_estudo/<%=a.nome%>/" data-remote="" onclick="showSpinner('conteudo')" class="item"><%=a.display%></a>
            <%end%>
          <%end%>
        </div>
      </div>
      <div id="conteudo"></div>
    </div>
  
  </div>
</div>

<script>
  <%if @assunto %>
    $(document).ready(function(){
      $('#conteudo').html('<%= j render partial:"assuntos/assunto", locals:{assunto: @assunto, topicos: @topicos, estatisticas: @estatisticas} %>');
      $('#desempenho').html('<%=@assunto.first.display%>');
    });
  <%end%>
  $(document).on('turbolinks:load', function(){
    $('.ui.accordion').accordion({
      selector: {
        trigger: 'a'
      }
    });
  });
  function showSpinner(target){
    $('#'+target).html("<%= j render "layouts/spinner" %>");
  }
  $('#exibe_materias')
    .popup({
      position : 'bottom center',
      popup : $('#popup_materias'),
      on    : 'click'
    })
  ;
</script>

<%= content_for :head do %>
  <%= stylesheet_link_tag 'assuntos', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
<%end%>