$('#conteudo').html('<%= j render partial:"assuntos/assunto", locals:{assunto: @assunto} %>');
$('#lista_taticas').accordion();
$('#desempenho').html('<%=@assunto.display%>');


MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
//var stateObj = { assuntos: "assuntos", conjuntos: "<%=@assunto.nome%>" };
//history.pushState(stateObj, "page 2", "/assuntos/<%=@assunto.nome%>" );

