<div class="ui main grid container">
  <div class="row">
    <div class="ui breadcrumb">
      <div class="active section">Assuntos</div>
    </div>
  </div>
  <div class="row">
    
    <div class="ui column"></div>
    
    <div class="ui five wide column">
      <div class="ui relaxed divided list">
        <h3>Índice de assuntos</h3>
        <%@assuntos.each do |a|%>
          <%if a.nome != nil%>
            <div class="active item">
              <i class="large book middle aligned icon"></i>
              <div class="content">
                <div class="titulo" id="item_<%=a.id%>"><a href="/ass/<%=a.id%>"><%=a.display%></a></div>
                <div class="description">Possui <%=a.topicos.size%> Tópicos</a></div>
              </div>
            </div>
          <%end%>
        <%end%>
      </div>
    </div>
    
    <div class="ui nine wide column" id="assunto">
      <h3 class="ui center aligned header" id="desempenho"></h3>
      <div id="conteudo"></div>
    </div>

  </div>
</div>