<div class="ui main container">
    <p id="notice"><%= notice %></p>
    
    <p>
      <strong>Nome:</strong>
      <%= @assunto.nome %>
    </p>
    
    <p>
      <strong>Display:</strong>
      <%= @assunto.display %>
    </p>
    
    <p>
      <strong>Descricao:</strong>
      <%= @assunto.descricao %>
    </p>
    
    <p>
      <strong>Concurso:</strong>
      <%= @assunto.indice %>
    </p>
    
    <%= link_to 'Edit', edit_assunto_path(@assunto) %> |
    <%= link_to 'Back', assuntos_path %>
</div>