<div id="row_header" class="row">
  <div class="ui container">

    <h1 class="ui header principal" style="font-family: 'Noto Sans', sans-serif;">
      <%=texto%>
    </h1>
      
  </div>

  <%if bc.size > 0%>
	  <div class="ui breadcrumb">
	    <a href="/material_de_estudo" class="section">Material de Estudo</a>
	    <span class="divider">/</span>
	    <a href="/material_de_estudo/" class="section">A</a>
	    <span class="divider">/</span>
	    <div class="active section">Titulo</div>
	  </div><!--Fim do Breadcumb-->
  <%end%>
</div>