<div class="ui grid">
  <div class="ui eight wide column">
    
    <div class="ui ten top attached basic mini buttons">
      <div class="ui button" onclick="insereTexto('$_{}$',2)">$X_{a}$</div>
      <div class="ui button" onclick="insereTexto('$^{}$',2)">$X^{a}$</div>
      <div class="ui button" onclick="insereTexto('$\\frac{}{}$',4)">$\frac{a}{b}$</div>
      <div class="ui button" onclick="insereTexto('$\\sqrt[n]{ab}$',6)">$\sqrt[n]{ab}$</div>
      <div class="ui button" onclick="insereTexto('$\\times$',1)">$\times$</div>
      <div class="ui button" onclick="insereTexto('$\\neq$',1)">$\neq$</div>
      <div class="ui button" onclick="insereTexto('$\\leq$',1)">$\leq$</div>
      <div class="ui button" onclick="insereTexto('$\\geq$',1)">$\geq$</div>
      <div class="ui button" onclick="insereTexto('$\\in$',1)">$\in$</div>
      <div class="ui button" onclick="insereTexto('$\\subset$',1)">$\subset$</div>
    </div>
    <div class="field">
      <%= form_tag("/marktex_editor/", method: "get", remote: true) do %>
        <textarea id="marktex_input" oninput="atualiza()" name="txt"></textarea>
        <%= submit_tag("Search") %>
      <% end %>
    </div>
  </div>
  
  <div class="ui eight wide column">
    <%=render flashcard%>
  </div>
</div>

<style>
  #marktex_input, #marktex_display{
    width: 100%;
    min-height: 500px;
  }
  
  #marktex_display{
    line-height: 1em;
  }
  
  #marktex_display h1, h2, h3, h4, h5, h6, p{
    margin: 0px;
  }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.8.6/showdown.js"></script>

<script>
  //Inserir texto de botoes
  function insereTexto(newText, recuo_do_cursor) {
    var el = $('#marktex_input').get(0);
    var start = el.selectionStart
    var end = el.selectionEnd
    var text = el.value
    var before = text.substring(0, start)
    var after  = text.substring(end, text.length)
    el.value = (before + newText + after)
    el.selectionStart = el.selectionEnd = start + newText.length - recuo_do_cursor
    el.focus()
  }
  
  //substitui o tab
  $(document).delegate('#marktex_input', 'keydown', function(e) {
  var keyCode = e.keyCode || e.which;

  if (keyCode == 9) {
    e.preventDefault();
    var start = this.selectionStart;
    var end = this.selectionEnd;

    // set textarea value to: text before caret + tab + text after caret
    $(this).val($(this).val().substring(0, start)
                + "\t"
                + $(this).val().substring(end));

    // put caret at right position again
    this.selectionStart =
    this.selectionEnd = start + 1;
  }
});
  
</script>

<script>
  loadMathJax();
  $(document).on('page:load', loadMathJax())
  
  function loadMathJax(){
    window.MathJax = null;
    $.getScript("https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML", function(){
      MathJax.Hub.Config({
        tex2jax: {
          showMathMenu: false,
          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
          processEscapes: true
        }
      });
    })
  }
</script>