<div id="main_menu" class="ui large fixed secondary pointing menu">
  <div class="ui container">
    <a href="/plano_de_estudo" id="logo" class="item">
      <img src='/assets/Logo.png'></img>
    </a>
    <a href="/plano_de_estudo" class="red item" id="link_painel">Início</a>
    <a href="/provas_e_simulados/" class="red item" id="link_provas_e_simulados">Exercícios</a>
    <a href="/material_de_estudo/" class="red item" id="link_assuntos">Material</a>
    
    <div class="right menu">
      <a id="upgrade_item" class="item">Assinar</a>

      <a id="item_notification" class="item">
        <i id="bell" class="large red bell icon"></i>
        <div id="notification"> <span>3</span> </div>
      </a>
      <div id="popup_notification" class="ui flowing popup top left transition hidden">
        <div class="ui small divided items">
          <div class="item">
            <div class="ui avatar image">
              <img src="https://avatarfiles.alphacoders.com/114/114315.jpg">
            </div>
            <div class="content">
              <div class="header">Night King</div>
              <div class="description"><p>Começou a seguir você</p></div>
            </div>
          </div>
          <div class="item">
            <div class="ui avatar image">
              <img src="https://avatarfiles.alphacoders.com/674/67419.png">
            </div>
            <div class="content">
              <div class="header">Daenerys</div>
              <div class="description"><p>Começou a seguir você</p></div>
            </div>
          </div>
          <div class="item">
            <div class="ui avatar image">
              <img src="https://avatarfiles.alphacoders.com/105/105161.jpg">
            </div>
            <div class="content">
              <div class="header">Jon Snow</div>
              <div class="description"><p>Começou a seguir você</p></div>
            </div>
          </div>
        </div>
      </div>

      <div class="ui pointing dropdown">
        <div id="user_item" class="header item">
          <img src="<%=current_user.image_url%>" class="ui avatar image">
          <%= current_user.name %>
          <i class="caret down icon"></i>
        </div>
        <div class="menu">
          <%= link_to(logout_path, class: "item", method: :delete)  do %>
            <i class="power icon"></i>
            <span>sair</span>
          <%end%>
          <%if current_user.admin %>
            <h6 class="ui header">Funções de Admin</h6>
            <a href="https://app.contentful.com/spaces/h8r98awupeov/entries" class="red item" target="_blank">Contentful</a>
            <a href="/importa_assuntos" class="item">Importar assuntos</a>
            <a href="/importa_topicos" class="item">Importar topicos</a>
            <a href="/questoes/new" class="item">Nova questao</a>
            <a href="/apostilas/new" class="item">Nova apostila</a>
            <a href="/topicos/new" class="item">Novo Tópico</a>
            <a href="/ass/new" class="item">Novo Assunto</a>
            <h6 class="ui header">Listagens</h6>
            <a href="/questoes/" class="item">Banco de Questões</a>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).on('turbolinks:load', function(){
    $('#main_menu .item').removeClass('active');
    
    <%if @pagina_atual != nil%>
      $('#link_<%=@pagina_atual%>').addClass('active');
    <%end%>

    $('.ui.dropdown').dropdown({transition: 'slide down'});
  });

  $('#item_notification')
    .popup({
      position : 'bottom center',
      popup : $('#popup_notification'),
      on    : 'click'
    })
  ;
</script>