<!DOCTYPE html>
<html>
<head>
  <title>Tática Certa</title>
  <link rel="shortcut icon" href="/assets/icone.png" type="image/x-icon">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://unpkg.com/stimulus/dist/stimulus.umd.js"></script>
  <%= stylesheet_link_tag 'layout', media: 'all', 'data-turbolinks-track' => true%>
  <%= stylesheet_link_tag 'sidebar', media: 'all', 'data-turbolinks-track' => true %>
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.8.6/showdown.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
  <%= javascript_include_tag Ckeditor.cdn_url%>
  
  <%= csrf_meta_tags %>
  <meta name="turbolinks-cache-control" content="no-cache">
  
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      showMathMenu: false,
      jax: ["input/TeX","output/HTML-CSS"],
      tex2jax: {
        inlineMath: [ ['$','$'], ["\\(","\\)"] ],
        processEscapes: true
      }
    });
  </script>

  <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>
  
  <%= yield :head %>
</head>
<body>
    <%=render 'layouts/topnav'%>
    <div id="main_grid" class="ui grid">
      <div id="main_row" class="row">
        <%= yield %>
      </div>
    </div> 
</body>
</html>