<!DOCTYPE html>
<html>
<head>
  <title>Tatica Certa</title>
  <link rel="shortcut icon" href="assets/icone.png" type="image/x-icon">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
  
  <%= yield :head %>
</head>
<body>

<%= yield %>

</body>
</html>