<!DOCTYPE html>
<html>
<head>
  <title>Tatica Certa</title>
  <link rel="shortcut icon" href="assets/icone.png" type="image/x-icon">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.js"></script>
  <%= csrf_meta_tags %>
  
  <%= yield :head %>
</head>
<body>

<%= yield %>

</body>
</html>
