<!DOCTYPE html>
<html>
<head>
  <title>Tática Certa</title>
  <link rel="shortcut icon" href="/assets/icone.png" type="image/x-icon">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'layout', media: 'all', 'data-turbolinks-track' => true%>
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.8.6/showdown.js"></script>
  
  <%= csrf_meta_tags %>
  <meta name="turbolinks-cache-control" content="no-cache">
  
  <%= yield :head %>
</head>
<body>
    <div id="main_grid" class="ui grid">
      <div class="sixteen wide column" id="full_column">
        <%= yield %>
      </div>
    </div>
</body>
</html>