<!DOCTYPE html>
<html>
<head>
  <title>Tatica Certa</title>
  <link rel="shortcut icon" href="assets/icone.png" type="image/x-icon">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'redacao', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="ui grid">
      <div class="row">
        <div class="four wide column">
          <%= render "redacao/sidebar" %>
        </div>
        <div class="eleven wide column">
          <%= yield %>
        </div>
      </div>
    </div>
    
    <%= javascript_include_tag 'redacao', media: 'all', 'data-turbolinks-track' => true %>
</body>
</html>

