<div class="item apostila">
    <h4 class="header">
      <%= apostila.display %>
      <i class="head caret down icon"></i>
      <a href="<%=apostila.link%>" class="ui right floated basic tiny button abrir">Abrir <i class="chevron circle right icon"></i></a>
    </h4>
      
     
    <div class="content">
      <p><%= apostila.descricao%></p>
      <small><b>Exercícios:</b> <%=apostila.questoes.size%></small></br>
      <small><b>Respostas certas:</b> <%=apostila.respostas_certas(current_user)%></small>
      
      <%if apostila.questoes.size > 0%>
        <div class="ui indicating progress" data-percent="<%=(apostila.respostas_certas(current_user)*100/apostila.questoes.size*100)/100%>">
          <div class="bar">
            <div class="progress"><%=apostila.respostas_certas(current_user)/apostila.questoes.size%></div>
            <div class="progress">0</div>
          </div>
        </div>
      <%else%>
        <div class="ui indicating progress" data-percent="0">
          <div class="bar">
            <div class="progress">0</div>
          </div>
        </div>
      <%end%>
    </div>
    
</div>

