<div class="ui divided selection list">
    <%= render apostilas %>
    <%= paginate apostilas, remote: true %>
    <div id="sub_load"><i class="loading refresh icon"></i></div>
</div>

<script>
  $(document).ready(function(){
    $('.content').hide();
    $('.progress').progress();
    $('#sub_load').hide();
  });
  
  $('.pagination > .item').click(function(){
      var ht = "<div class='ui active centered inline loader'></div>";
      $('#conteudo_principal').html(ht);
  });
  
  $('.button.abrir').click(function(){
    url = $(this).attr('href');
    
    window.location.href = url;
    return false
  });

  $('.apostila').click(function(){
    if ($(this).hasClass("aberta"))
    {
       $(this).find('.content').hide(200);
       $(this).removeClass('aberta');
       $(this).find('.head').addClass('down');
       $(this).find('.head').removeClass('right');
    }else
    {
       $(this).find('.content').show(200);
       $(this).addClass('aberta');
       $(this).find('.head').removeClass('down');
       $(this).find('.head').addClass('right');
    }
  });
</script>