<%= simple_form_for(@tatica) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :link %>
    <%= f.input :titulo %>
    <%= f.input :semana_id, collection: @semanas %>
    <%= f.input :assunto_id, collection: @assuntos %>
    <%= f.input :texto, as: :ckeditor, input_html: { ckeditor: { toolbar: 'Full' } }%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


