<p id="notice"><%= notice %></p>

<h1>Listing Taticas</h1>

<table>
  <thead>
    <tr>
      <th>Link</th>
      <th>Titulo</th>
      <th>Texto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @taticas.each do |tatica| %>
      <tr>
        <td><%= tatica.link %></td>
        <td><%= tatica.titulo %></td>
        <td><%= tatica.texto %></td>
        <td><%= link_to 'Show', tatica %></td>
        <td><%= link_to 'Edit', edit_tatica_path(tatica) %></td>
        <td><%= link_to 'Destroy', tatica, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tatica', new_tatica_path %>
