<div class="ui main grid container" >
  <%= exibe_header "Táticas", "material", [] %>

  <div class="ui row">
  	<div class="ui text container">
  		<h2 class="ui center aligned header"><%= @tatica.titulo%></h2>
  		<div class="texto">
  			<%=@tatica.texto.html_safe%>
  		</div>
  	</div>
  </div>
  
	<%= link_to 'Edit', edit_tatica_path(@tatica) %> |
	<%= link_to 'Back', taticas_path %>
</div>



